<p>Hello <%= @newsletter_email.participant.name %>,
  <br>
  <br>
  Your newsletter e-mail for <%= @challenge.challenge %> was declined because of the following reason: <br>
  <strong><%= @newsletter_email.decline_reason %></strong>
  <br>
  <br>
  You can submit a new newsletter e-mail <%= link_to 'here', new_challenge_newsletter_emails_url(challenge_id: @newsletter_email.challenge&.slug.to_s), target: '_blank' %>.
  <br>
  &nbsp;
</p>
