@import "../../../constants/scss/abstracts/__abstracts-dir.scss";
@import "../../../styles/base/__base-dir.scss";

.titleText {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  padding-bottom: 8px;
}

.descriptionText {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #747474;
  width: 269px;
}
