<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Didn't receive confirmation instructions?</h1>
        <p>Just enter your email, press the button, and we'll resend them.</p>
      </div>
    </div>
  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">    
        <%= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'form-rg', method: :post } do |f| %>
          <div class="form-group">
            <label for="email">Email</label>
            <%= f.text_field :email, placeholder: 'Email address', class: "form-control" %>
          </div>

          <%= f.button 'Resend confirmation instructions', type: 'submit', class: 'btn btn-primary btn-block' %>
          <% end %>
      </div>
    </div>    
  </div>
</div>
<!-- /section -->

<!-- section -->
<div class="section-p-md border-top bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="section-header-mb-sm">
          <h4>Not registered?</h4>
        </div>
        <%= link_to 'Sign up'.html_safe , new_participant_registration_path, {class: "btn btn-secondary", role:"button"} %>
      </div>
    </div>
  </div>
</div>
<!-- /section -->