<div class="masthead">
  <div class="container-fluid">
    <div class="row">
			<div class="col-12">
			  <h4><%= @clef_task.task %></h4>
        <h1>Edit Task</h1>
      </div>
    </div>
  </div>
  <%= render 'form' %>
</div>
