{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        corejs: '3',
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    "syntax-dynamic-import",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
