{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        },
        useBuiltIns: 'entry'
      }
    ],
    "@babel/react",
    "@babel/preset-flow",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
