# OS files
.DS_Store

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# dev
.byebug_history
/.bundle
/dump.rdb
/config/application.yml
/scripts/challenges/openfood/public_500/images/*
/scripts/dev_from_prd.sh
/scripts/stg_from_prd.sh

# public
/public/uploads
/public/assets_test/*
/public/assets/*
/public/packs
/public/assets/**

# built
/node_modules

# misc
*.swp
storage/*
spec/examples.txt
/coverage
screenshot*
dump.rdb
.idea
.generators
.rakeTasks

# Migration Data
db/crowdai_aicrowd_data_migration/challenge_participants.json
db/crowdai_aicrowd_data_migration/challenge_rounds.json
db/crowdai_aicrowd_data_migration/challenges.json
db/crowdai_aicrowd_data_migration/organizers.json
db/crowdai_aicrowd_data_migration/submissions.json

# Clef Migration Data
db/crowdai_aicrowd_data_migration/clef_tasks.json
db/crowdai_aicrowd_data_migration/participant_clef_tasks.json
db/crowdai_aicrowd_data_migration/task_dataset_files.json


