<!-- blog post -->
<div class="col-sm-12 col-md-4">
  <div class="card card-blog-post">
    <div class="card-body">
      <h5 class="card-title"><%= link_to blog.title, blog_path(blog) %></h5>
      <p class="card-text"><%= local_time(blog.posted_at, "%-d %B %Y") %></p>
    </div>

    <div class="card-footer">
      <%= link_to concept(Image::Cell,blog.participant, klass: "avatar"), participant_path(blog.participant)%>
      <span>By  <%= link_to blog.participant.name, participant_path(blog.participant) %></span>
    </div>
  </div>
</div>
<!-- /blog post -->