<!-- page content -->
<div class="content">
  <!-- masthead -->
  <div class="masthead masthead-open">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>AIcrowd Blog</h1>
          <p>Everything about AIcrowd: press releases, technical papers, challenge releases, general trivia and more.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /masthead -->

  <!-- section -->
  <div class="section-p-md">
    <div class="container-fluid">
      <div class="row">
        <% @blogs.each_with_index do |blog,index| %>
          <%= render partial: 'blog_post', locals: { blog: blog } %>
        <% end %>
      </div> 
    </div>
  </div>
    <!-- /section -->
</div>