<%= render 'header' %>
<%= render 'form' %>

<!-- section -->
<div class="section-p-md border-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<a href="#" data-toggle="modal" data-target="#deleteAccount">Delete your AIcrowd account</a>
			</div>
		</div>
	</div>
</div>
<!-- /section -->
<%= render partial: 'shared/delete_modal' %>