<%= render 'header' %>
<%= render 'form' %>

<!-- section -->
<div class="section-p-md border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a data-remodal-target="modal">Delete your AICrowd account</a>
      </div>
    </div>
  </div>
</div>
<!-- /section -->
<%= render partial: 'shared/delete_modal' %>