---
http_interactions:
- request:
    method: get
    uri: https://discourse-staging.aicrowd.com/tags/c/short-challenge-name/1/baseline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - REDACTED
      Api-Username:
      - REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Username:
      - REDACTED
      X-Discourse-Route:
      - tags/show
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":1403,"username":"akhilesh","name":"akhilesh","avatar_template":"/user_avatar/discourse-staging.aicrowd.com/akhilesh/{size}/1103_2.png"}],"primary_groups":[],"topic_list":{"can_create_topic":true,"draft":null,"draft_key":"new_topic","draft_sequence":10,"per_page":30,"top_tags":["baseline"],"tags":[{"id":1,"name":"baseline","topic_count":5,"staff":false}],"topics":[{"id":2753,"title":"Test
        regarding baseline in sidebar","fancy_title":"Test regarding baseline in sidebar","slug":"test-regarding-baseline-in-sidebar","posts_count":1,"reply_count":0,"highest_post_number":1,"image_url":null,"created_at":"2020-04-13T11:05:02.528Z","last_posted_at":"2020-04-13T11:05:02.694Z","bumped":true,"bumped_at":"2020-04-13T11:05:02.694Z","archetype":"regular","unseen":false,"pinned":false,"unpinned":null,"visible":true,"closed":false,"archived":false,"bookmarked":null,"liked":null,"tags":["baseline"],"views":1,"like_count":0,"has_summary":false,"last_poster_username":"akhilesh","category_id":1,"pinned_globally":false,"featured_link":null,"posters":[{"extras":"latest
        single","description":"Original Poster, Most Recent Poster","user_id":1403,"primary_group_id":null}]}]}}'
  recorded_at: Mon, 20 Apr 2020 13:14:04 GMT
recorded_with: VCR 5.0.0
