<div class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Publications</h1>
      </div>
    </div>
  </div>
</div>
<div class="filter-bar">
  <div class="container-fluid mt-2">
    <%= render partial: 'filter', locals: { years: @years, categories: @categories, venues: @venues, path: all_publications_path} %>
  </div>
</div>
<div class="section-p-md">
  <div class="container-fluid">
    <%= render partial: 'publication_list', locals: {publications: @publications} %>
  </div>
</div>