<div class="section-p-md">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xs-12 col-sm-12 col-lg-6">
        <div class="mt-lg-5">
          <h1><span class="text-primary mb-5">AI</span>crowd Research</h1>
          <p class="sub-head mt-4"><b><span class="text-primary">AI</span>crowd</b> Community tackles some of the most diverse and interesting problems in AI.
Check out the research we're proud to facilitate below.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6 mt-lg-n5 mb-lg-n5">
        <%= image_tag image_path('misc/publication-masthead.svg'), class: "w-100" %>
      </div>
    </div>
  </div>
  <div class="publication-cards">
    <div class="container-fluid">
      <div class="">
        <p class="short-head my-4">HOW CAN YOU CONTRIBUTE?</p>
      </div>
      <div class="row mb-5">
        <div class="col-lg-4 col-md-6">
          <div class="card my-2">
            <div class="card-body" onclick="location.href='https://www.aicrowd.com/challenges/?&prizes=prize_academic'">
              <h5 class="card-title"><i class="fa float-l-fa fa-rocket mr-2"></i> CHALLENGE <div class="float-right float-r-fa"><i class="fa fa-long-arrow-right"></i></div></h5>
              <hr>
              <p class="card-text">Participate in challenges and see your contributions turn into published research papers.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card my-2">
            <div class="card-body" onclick="location.href='https://forms.gle/TtnLrr4MFa5wSqRt7'">
              <h5 class="card-title"><i class="fa float-l-fa fa-pencil-square-o mr-2"></i> BUILD <div class="float-right float-r-fa"><i class="fa fa-long-arrow-right"></i></div></h5>
              <hr>
              <p class="card-text">Contribute with your engineering or writing skills to AIcrowd’s ongoing research projects.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card my-2">
            <div class="card-body" onclick="location.href='https://discourse.aicrowd.com/'">
              <h5 class="card-title"><i class="fa float-l-fa fa-comment-o mr-2"></i> DISCUSS <div class="float-right float-r-fa"><i class="fa fa-long-arrow-right"></i></div></h5>
              <hr>
              <p class="card-text">Jump into ongoing research discussions and share your ideas with the AIcrowd community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="my-5">
      <p class="short-head my-4">FEATURED PUBLICATIONS <button class="btn-white-submit2 float-right" onclick="location.href='/research/all'">See all</button></p>
    </div>
    <div class="col-12 px-1">
      <%= render partial: 'publication_list', locals: {publications: Publication.limit(6).order('sequence asc') } %>
    </div>
    <a class="pb-1 border-bottom border-bottom-dotted ml-3" href="/research/all">See all Publications →</a>
  </div>

</div>
