<!-- masthead -->
<div class="bg-graph">
  <div class="masthead masthead-open">
    <div class="container-fluid">
      <!-- title -->
      <div class="row">
        <div class="col-12">
          <h4>Organize a challenge</h4>
          <h1>Interested in organizing a challenge?</h1>
          <p>
            Fill out the form below to get the ball rolling. Someone from our
            team will be in touch with you as soon as possible.
          </p>
        </div>
      </div>
      <!-- /title -->
    </div>
  </div>
  <!-- /masthead -->
  <%= render partial: 'call_open' %>
</div>
