<!-- success_story post -->
<div class="col-sm-12 col-md-4">
  <div class="card card-blog-post">
    <div class="card-body">
      <h5 class="card-title"><%= link_to success_story.title, success_story_path(success_story) %></h5>
      <p class="card-text"><%= success_story.byline %></p>
    </div>
  </div>
</div>
<!-- /success_story post -->