@import "./_all_mixins.scss";
.logo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  @include column-gap;
  @include row-gap;
  @include media-query("small-medium") {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}
