<div class="chart-wrapper pb-5"
     data-chart-index="<%= index %>" >
  <header class="section-header-decorative">
    <div>
      <h4>Participants</h4>
    </div>
  </header>
  <%= geo_chart challenge_participants_country_challenge_insights_path(challenge), height: '500px', messages: {empty: "No data present for participant locations"} %>
</div>
