<script src="//www.google.com/jsapi"></script>
<div class="chart-wrapper pb-5"
     data-chart-index="<%= index %>" >
  <header class="section-header">
    <div>
      <h4>Participants</h4>
    </div>
  </header>
  <center>
    <div id="visualization" class="overflow-md-x">
    </div>
  </center>
</div>

<script>
  $(document).ready(function(){
    google.load('visualization', '1.1', {packages: ['geochart'], callback: drawVisualization});
  })

  function drawVisualization() {
    var data = google.visualization.arrayToDataTable([
        ['Country', 'Value', {role: 'tooltip', p:{html:true}}],
        <% country_wise_data.each do |key, value| %>
          ["<%= key %>", <%= value.length %>, '<%= escape_javascript(render partial: 'shared/participant_avatar_list', locals: { participants: value}) %>'],
        <% end %>
        ]);
    var chart = new google.visualization.GeoChart(document.getElementById('visualization'));
    chart.draw(data, {
        width: 800,
        height: 600,
        tooltip: {
            isHtml: true
        }
    });
  }
</script>
