<div>
  <p>Hi <%= @participant.name %>,</p>
  <br/>
  <p>Here is the export you requested. The attached file contains the submissions made in <%= @challenge_round.challenge_round %> round of <%= @challenge.challenge %></p>
  <br/>
</div>
