<p>
  Dear AIcrowd admins,
  <br/>
  <br/>
  New newsletter e-mail was submitted for&nbsp;<%= link_to @challenge&.challenge.to_s, challenge_url(id: @challenge&.slug.to_s), target: '_blank' %> and it's waiting for your
  verification. You can verify it <%= link_to 'here', admin_newsletter_email_url(@newsletter_email), target: '_blank' %>.
  <br/>
  <br/>
  <%= link_to 'See all pending newsletters', admin_newsletter_emails_url('q[pending_eq]': true, commit: 'Filter', pending_eq: true, order: 'pending_desc'), target: '_blank' %>
  &nbsp;
</p>
