.dataset-files-list {
  .dataset-folder__info {
    display: flex;
    align-items: center;
  }

  .dataset-folder__info i {
    font-size: 33px;
    margin-right: 10px;
  }

  .dataset-folder__actions {
    display: flex;
  }

  .dataset_file__from-folder {
    margin-left: 42px;
  }

  .dataset-folder__error-message {
    margin-left: 10px;
    color: red;
  }
}
