.challenges-form {
  max-width: none;

  &__heading {
    margin-bottom: 20px;
  }

  &__misc-button {
    margin-bottom: 40px;
  }

  &__thin-tab {
    max-width: 480px;
    .ck-editor {
      min-width: 640px;
    }
  }

  &__errors-paragraph {
    color: red;
  }

  &__link--hidden {
    display: none;
  }
}
.red-link{
  color: #DE4B46;
}
.display-none{
  display: none;
}
