.challenges-form {
  max-width: none;

  &__heading {
    margin-bottom: 20px;
  }

  &__misc-button {
    margin-bottom: 40px;
  }

  #preview-modal .modal-dialog {
    max-width: 90vw;
  }

  .md-content .cke * {
    max-width: none;
  }

  .cke {
    min-width: 1264px;
  }

  .cke_reset {
    min-height: 250px;
    max-height: 1600px;
  }

  &__thin-tab {
    max-width: 480px;
  }

  &__errors-paragraph {
    color: red;
  }

  &__link--hidden {
    display: none;
  }

  &__invite-participant {
    margin-top: 0;
  }
}
.red-link{
  color: #DE4B46;
}
.display-none{
  display: none;
}

.select2-results__option[aria-selected=true] { display: none; }
