<div class="btn-set" aria-hidden="true">
	<%= f.button (f.object.new_record? ? "Create challenge" : "Update challenge"), class: 'btn btn-primary btn-sm' %>
	<a class="btn btn-secondary" href="/challenges">Cancel</a>
</div>