<!-- masthead - organizer -->
<div class="masthead masthead-organizer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-start">
          <%= image_tag organizer.image_file_url, class: 'avatar-organizer' %>
          <div class="d-table">
          <div class="organizer-details">
            <h1><%= organizer.organizer %></h1>
            <p><%= organizer.description %></p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /masthead - organizer -->
