<div class="btn-set" aria-hidden="true">
  <%= f.button (f.object.new_record? ? 'Create organizer' : 'Update organizer'), class: 'btn btn-primary' %>
  <%= link_to 'Cancel', challenges_path, class: 'btn btn-secondary', role: 'button' %>
</div>
