<%= render partial: 'masthead', locals: { organizer: @organizer } %>
<%= render partial: 'subnav', locals: { organizer: @organizer, challenges: @challenges } %>

<div class="section-p-sm bg-light">
	<div class="container-fluid">
		<div class="row">
			<%= concept(Challenge::Cell::ListDetail,
				collection: @challenges,
				current_participant: current_participant) %>
		</div>
	</div>
</div>