<% badges_count, badges = participant.badges_stats %>
<% badge_colors = ['Gold', 'Silver', 'Bronze'] %>
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <% badge_colors.each do |color| %>
        <!-- achievements-gold -->
        <div class="col-12 col-md-4">
          <div class="achievements-overview">

            <header class="achievements-gold">
                  <span class="achievements-level">
                    <%= color %>
                  </span>
              <span class="achievements-total">
                    <%= badges_count[BadgeType.find_by(name: color)&.id.to_i].to_i %>
                  </span>
            </header>
            <% puts color %>
            <% badges[color.to_sym].to_a.each do |badge| %>
              <div class="achievements-list">
                <div class="achievements-list-item">
                  <div class="achievements-description-gold">
                    <%= badge['name'] %>
                  </div>
                  <div class="achievements-date">
                    <%= badge['created_at'].strftime("%B %d, %Y") %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>


    <% end %>
        </div>
      </div>
  </div>
  </div>
</section>