<% badges_count, badges = participant.badges_stats %>
<% badge_colors = ['Gold', 'Silver', 'Bronze'] %>
<section class="section-p-md">
  <div class="container-fluid">
    <!-- sub-nav pills -->
    <ul class="nav nav-pills">

      <% ["Notebook", "Challenge", "Discussion", "First"].each do |challenge_round| %>
        <li class="nav-item mr-4">
          <%= link_to challenge_round, challenges_path, class: round_pills_tab_classes(nil, nil) %>
        </li>
      <% end %>
    </ul>
    <!-- sub-nav pills -->
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <% participant.badges.each do |badge| %>
      <% aicrowd_badge =  AicrowdBadge.where(name: badge.name).order(:level)%>
      <div class="column">
        <%= react_component("organisms/AchievementListItem/index", { icon: 'https://ui-storybook.aicrowd.com/assets/badges/notebook/creation_active_gold.svg', progress: participant.points(category: aicrowd_badge.name), target: {bronze_count: aicrowd_badge.last.target, silver_count: aicrowd_badge.second.target, gold_count: aicrowd_badge.first.target}, title: aicrowd_badge.name, description: aicrowd_badge.description }) %>
      </div>
    <% end %>
  </div>
</div>
