<% badges_count, badges = participant.badges_stats %>
<% badge_colors = ['Gold', 'Silver', 'Bronze'] %>
<section class="section-p-md">
  <div class="container-fluid">
    <!-- sub-nav pills -->
    <ul class="nav nav-pills">

      <% ["Notebook", "Challenge", "Discussion", "First"].each do |challenge_round| %>
        <li class="nav-item mr-4">
          <%= link_to challenge_round, challenges_path, class: round_pills_tab_classes(nil, nil) %>
        </li>
      <% end %>
    </ul>
    <!-- sub-nav pills -->
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <% participant.badges.includes(:aicrowd_badge).each do |badge| %>
      <div class="column">
        <%= react_component("organisms/AchievementListItem/index", { icon: 'https://ui-storybook.aicrowd.com/assets/badges/notebook/creation_active_gold.svg', progress: 3, target: {bronze_count: 5, silver_count: 10, gold_count: 25}, title: "sdfjsdfjkhnsd", description: "dsfjksdhfjsdnfsdfjlsdkjf" }) %>
      </div>
    <% end %>
  </div>
</div>
