<% badges_count, badges = participant.badges_stats %>
<% badge_colors = ['Gold', 'Silver', 'Bronze'] %>
<section class="section-p-md">
  <div class="container-fluid">
    <!-- sub-nav pills -->
    <ul class="nav nav-pills">

      <% ["Notebook", "Challenge", "Discussion", "First"].each do |challenge_round| %>
        <li class="nav-item mr-4">
          <%= link_to challenge_round, challenges_path, class: round_pills_tab_classes(nil, nil) %>
        </li>
      <% end %>
    </ul>
    <!-- sub-nav pills -->
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <% participant.badges.each do |badge| %>
      <% aicrowd_badges =  AicrowdBadge.where(name: badge.name).order(target: :desc) %>
      <% next if aicrowd_badges.first.target.blank? %>
      <% current_aicrowd_badge = active_badge(aicrowd_badges) %>
      <div class="column">
        <%= react_component("organisms/AchievementListItem/index", { icon: "/assets/challenge_badges/#{current_aicrowd_badge.image}.png", progress: participant.points(category: current_aicrowd_badge.name).to_i, target: {bronze_count: aicrowd_badges.last.target, silver_count: aicrowd_badges.second.target, gold_count: aicrowd_badges.first.target}, title: aicrowd_badges.first.name, description: aicrowd_badges.first.description }) %>
      </div>
    <% end %>
  </div>
</div>