<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if discourse_posts_fetch.success? %>
          <% if discourse_posts.any? %>
            <% discourse_posts.each do |discourse_category, discourse_posts| %>
              <header class="section-header">
                <div>
                  <h4><%= discourse_category %></h4>
                </div>
              </header>

              <%= render partial: 'shared/discourse/posts_list', locals: { discourse_posts: discourse_posts, single_participant: participant } %>
            <% end %>
          <% else %>
            <div class="md-content">
              <%= "#{@participant.name} hasn't posted anything on Discourse yet..." %>
            </div>
          <% end %>
        <% else %>
          <div class="md-content">
            <span><%= discourse_posts_fetch.value %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
