<div class="profile-image-parent">
  <% if !defined?(avatar) || (defined?(avatar) && avatar && avatar != 'false') %>
    <%= participant_avatar(participant, "avatar profile-image") %>
    <%= image_tag("/assets/flags/#{participant.country_cd}.svg", class: "country-flag #{flag_class}") %>
  <% end %>
</div>
