<span class="aicrowd-badge-info" style="<%= style ||= '' %>">
  <% participant.badges.each do |badge| %>
    <span class="badges-card" data-toggle="tooltip" title="<%= badge.aicrowd_badge.name %> - <%= badge.aicrowd_badge.description %>">
      <%= image_tag("/assets/awards/award-bronze.svg", class:"country-flag") %>
    </span>
  <% end %>
</span>
