<div>
  <h4>Challenge Rounds</h4>
  <div id='rounds' class="accordion">
    <%= f.fields_for :challenge_rounds do |challenge_round| %>
      <%= render 'challenges/fields/challenge_round_fields', f: challenge_round %>
    <% end %>
  </div>

  <div class='links'>
    <%= link_to_add_association '+ Challenge Round', f, :challenge_rounds, html_options = {
        partial: 'challenges/fields/challenge_round_fields',
        id: 'challenges-form-add-round',
        class: "btn btn-secondary pull-right mt-3"
    } %>
  </div>

  <%= render partial: 'challenges/fields/submit_buttons', locals: { f: f, next_step: 'private-challenge' } %>
</div>