<div>
  <span class="label-text">Options</span>

  <div class="form-group">
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :winners_tab_active, text: "Winners' Tab Active?" } %>
  </div>

  <span class="label-text">Winner's Tab (Markdown)</span>
  <div class="md-content">
    <%= f.cktext_area :winner_description, class: "form-control" %>
  </div>

  <%= render partial: 'challenges/fields/submit_buttons', locals: { f: f, current_step: 'winner' } %>
</div>
