<header class="section-header mt-4">
  <div>
    <h4>Getting Started</h4>
  </div>
</header>
<table class="table table-responsive-md side-border">
  <tbody>
    <%= render partial: 'shared/discourse/discussions_list', locals: { discourse_topics: challenge_baseline_discussion } %>
  </tbody>
</table>
