<div class="card">
  <ul class="list-group list-group-flush list-group-top-contributors">
    <% top_leaderboards.each do |leaderboard| %>
      <%
        participants = leaderboard_participants(leaderboard)
        team = leaderboard.team
      %>
      <!-- user -->
      <li class="list-group-item">
        <% if team.present? %>
          <%= link_to team.name, challenge_team_path(challenge, team) %>
          <% participants.each do |participant| %>
            <%= render partial: 'participants/user_link', locals: { participant: participant, username: false } %>
          <% end %>
        <% elsif participants.length == 1 %>
          <%= render partial: 'participants/user_link', locals: { participant: participants.first } %>
        <% end %>

        <div class="submissions">
          <img src="https://d33wubrfki0l68.cloudfront.net/97838519a7cb6bf9b04b337fe51cedc78b4b2e8b/4d004/assets/img/icon-submissions.svg">
          <span><%= leaderboard.row_num %></span>
        </div>
      </li>
      <!-- /user -->
    <% end %>
  </ul>
</div>
