---
http_interactions:
- request:
    method: put
    uri: https://gitlab.aicrowd.com/api/v4/users/2679
    body:
      encoding: UTF-8
      string: name=test&username=test
    headers:
      Private-Token:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed499ca1ecd43e478e305d345b0be08a"
    body:
      encoding: UTF-8
      string: '{"id":2679,"name":"test","username":"test","state":"active","avatar_url":"https://www.gravatar.com/avatar/4ee4b688f84887cd68ac006e619d62e9?s=80\u0026d=identicon","web_url":"http://gitlab.aicrowd.com/test","created_at":"2020-04-22T15:59:05.859Z","bio":null,"location":null,"public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"last_sign_in_at":"2020-06-26T00:29:15.868Z","confirmed_at":"2020-04-22T15:59:05.833Z","last_activity_on":null,"email":"piotrek.pasciak@gmail.com","theme_id":3,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2020-07-08T08:36:08.596Z","identities":[{"provider":"oauth2_generic","extern_uid":"7126"}],"can_create_group":false,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":null}'
  recorded_at: Thu, 09 Jul 2020 16:52:51 GMT
recorded_with: VCR 5.0.0
