<div class="load-more">
  <% if collection.present? %>
    <%= link_to_next_page collection, content_tag(:button, 'Load more', class: 'btn btn-secondary btn-block'), remote: true %>
  <% end %>
</div>
<script>
  // Make sure tooltip continues to work on load more across the website
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover();
  });
</script>
