<!-- team member -->
<li class="list-group-item">
  <%= link_to participant_path(participant) do %>
    <%= concept(Image::Cell, participant, klass: "avatar") %>
    <span class="text-link"><%= @participant.name %></span>
  <% end %>
</li>
<!-- /team member -->
