<form class="leaderboard">
  <div class="can-toggle can-toggle--size-small">
    <%= link_to challenge_submissions_path(challenge, baselines: 'off',current_round_id: current_round_id) do %>
      <input id="switch" type="checkbox" checked>
      <label for="baselines">
        <div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
        <div class="can-toggle__label-text">Baselines</div>
      </label>
    <% end %>
  </div>
</form>