@import "../../../constants/scss/abstracts/__abstracts-dir.scss";
@import "../../../styles/base/__base-dir.scss";

$line-width: 260px;

.emptyLine {
  width: $line-width;
  height: 4px;
  border-radius: 2px;
  background-color: #e7e7e7;
  position: relative;
}

.fill {
  border-radius: 2px;
  width: 50%;
  height: 4px;
  background: linear-gradient(141.18deg, #de4b46, #cb2a24, #cd672d, #a35224, #a2a3a3, #8a8a8a);
}

.dot {
  position: absolute;
  top: -6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  background: linear-gradient(141.18deg, #de4b46 14.89%, #cb2a24 85.66%);
}

.bronze {
  left: 31%;
  background: linear-gradient(141.18deg, #cd672d 14.89%, #a35224 85.66%);
}
.silver {
  left: 64%;
  background: linear-gradient(141.18deg, #a2a3a3 14.89%, #8a8a8a 85.66%);
}
.gold {
  left: 98%;
  background: linear-gradient(141.18deg, #dba614 14.89%, #be8d1e 85.66%);
}

.redempty {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fdedec;
}

.bronzeempty {
  @extend.redempty;
  background: #f8eae2;
}
.silverempty {
  @extend.redempty;
  background-color: #f5f5f5;
}
.goldempty {
  @extend.redempty;
  background-color: #fffaeb;
}

.targetText {
  color: #747474;
  font-size: 14px;
  line-height: 15.23px;
  text-align: right;
  padding-bottom: 10px;
  width: $line-width + 10px;

}
