<li>Any other invitations you have received for other teams will be automatically declined</li>
          <li>If you have an existing team (with no members besides yourself), it will be deleted and all pending invitations you sent out will be automatically canceled</li>
