<main>
  <div class="masthead masthead-open">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h4>CrowdAI User Onboarding</h4>
          <h1>Instructions</h1>

          <%= form_for crowdai_migration_path, method: :patch do %>
            <%= label_tag(:data, "Encrypted Data (Received from CrowdAI):") %>
            <%= text_field_tag(:data) %>
            <%= submit_tag("Migrate") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- /main content -->
