<div class="reputation-card-info">
  <div class="row reputation-info-row" style="margin-left: 33px;">How &nbsp;
    <div style="color: red;font-weight: bold;">Crowd Karma Points&nbsp;</div>
    are calculated?
  </div>
  <div style="margin-top: 4%;margin-left: 4%;margin-right: 4%;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium varius accumsan donec venenatis, viverra rhoncus dictum. Sodales suspendisse elit, et ac id sed sit diam.Pharetra, viverra amet purus eget dolor. Pellentesque nam purus felis, eu imperdiet. Amet maecenas potenti morbi nunc posuere. Vel cras neque, in nisi, id. Id a gravida dolor.
  </div>
</div>