<div class="section-container nested-fields">
  <div class="form-group">
    <label>Rules (markdown)</label>
    <div class="md-content">
      <%= f.cktext_area :terms, class: "form-control txt-med", ckeditor: { height: 800 } %>
    </div>
    <hr>
  </div>

  <div class="form-group">
    <%= render partial: 'challenges/fields/fancy_radio', locals: { f: f, name: :has_additional_checkbox, text: "Has Additional Checkbox?" } %>
  </div>
  <hr>

  <div class="form-group">
    <label>Additional Checkbox Text</label>
  </div>

  <div class="md-content">
    <%= f.cktext_area :additional_checkbox_text, class: "form-control", ckeditor: { height: 200 } %>
  </div>
</div>
