<div class="my-2">
<%= f.label name, class: 'toggle-switch toggle-switch-large' do %>
  <%= f.check_box name, p || {} %>
    <span class="switcher mr-2"></span>
  <span class="label"><%= text %></span>
<% end %>
</div>