<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>AI & Ethics</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">

          <p>At <b><span class="red">AI</span>crowd</b>, we are excited about the enormous power of AI today, and in the future. To us, it’s clear that modern AI is a transformational technology that will have enormous impacts on virtually anything. Realizing the potential of AI for good is one of the major drivers behind everything we do. From better and faster medical diagnoses to rapid identification of missing persons, from more efficient energy use to smarter assistants, from safer transportation to less resource-intensive manufacturing -- the use cases of AI for good are countless.</p>

          <p>At the same time, it’s obvious that every powerful technology can be used to produce negative consequences, whether intended or not. As AI algorithms are increasingly implicated in decision making, they are particularly susceptible to this problem. From mass surveillance to autonomous weapons, the potential of misuse is enormous.</p>

          <p>It would be too easy to say “technology is neutral” - while this may be true on a very abstract level, at the end of the day, every concrete technology implementation has purposes and consequences. How we value these purposes and consequences is something we assess continuously. There are no straightforward answers. For example, how does one assess a technology, when the exact same algorithm can be used to identify a missing child, or to do mass surveillance? Is a technological advancement that makes certain business processes much more efficient “good”, because it gives its users a competitive edge and frees time for other things, or “bad”, because it contributes to the disappearance of certain jobs?</p>

          <p>At <b><span class="red">AI</span>crowd</b>, we believe that understanding is the first and most important step in navigating these questions. First, most of our challenges are open challenges, where the problem, the data, and the solutions are transparently described. While solutions are still often “black box” solutions, they can be looked at, studied, and objectively assessed. We believe that such a transparent approach helps build trust in the technology. Second, one of the major aspects a major aspect of <b><span class="red">AI</span>crowd</b> challenges - from cutting-edge research challenges to beginner-level AI Blitzes - is educational, where everyone can participate to learn about the technology. A technology like AI can be used for many purposes, and the best way to ensure its appropriate use is to make sure it is broadly understood. ​​
          </p>

          <p>The discussion on the ethical use of AI is an open discussion, and we invite you to join us. If you have any thoughts you’d like to share with us, <a href="mailto:hello@aicrowd.com">please reach out!</a> We’re all learning as we go, and we hope to navigate these waters safely, together.</p>
          
        </div>
      </div>
      <!-- /md content -->

    </div> 
  </div>
</div>
<!-- /section -->
