<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>Community Guidelines and Code of Conduct</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">
          <p>
            The <b><span class="text-primary">AI</span>crowd</b> community has grown considerably over the past couple of years and tackled some of the most interesting and diverse problems in AI. As the community continues to grow, we want to make certain that the platform remains welcoming to everyone.

            To meet this goal, we are introducing the following guidelines, which we hope will help create and maintain an environment where we can come together as a community in pursuit of our shared interests:

          </p>

          <h2 class="mb-2">1. Remember to criticize ideas, not people</h2>
          <p>
            Subtlety and nicety can get lost during online interactions, which may occur due to miscommunication and assumptions. If the conversation seems to take hostile turns, please take a breather, think about it from other perspectives, and respond later. Please avoid:
          </p>
          <ol>
            <li>
              <i>Name-calling</i>
            </li>
            <li>
              <i>Ad hominem attacks</i>
            </li>
            <li>
              <i>Responding to the tone of the post instead of the content</i>
            </li>
            <li>
              <i>Knee-jerk contradiction</i>
            </li>
          </ol>
          <h2 class="mb-2">2. Hate speech and Harassment are unacceptable</h2>
          <p>
            Hate speech is defined as content that attacks, threatens, incites violence against, or dehumanizes an individual or a group of individuals based on protected characteristics. This includes but is not limited to:
          </p>
          <ol>
            <li>
              <i>Race</i>
            </li>
            <li>
              <i>Ethnicity</i>
            </li>
            <li>
              <i>National origin</i>
            </li>
            <li>
              <i>Religion</i>
            </li>
            <li>
              <i>Caste</i>
            </li>
            <li>
              <i>Sexual orientation</i>
            </li>
            <li>
              <i>Sex</i>
            </li>
            <li>
              <i>Gender</i>
            </li>
            <li>
              <i>Gender identity</i>
            </li>
          </ol>
          <h2 class="mb-2">3. Don’t get involved in Deceptive Practices</h2>
          <p>
            These practices harm the fairness and quality of the competitions offered on the platform. These include but are not limited to:
          </p>
          <ol>
            <li>
              <i>Plagiarism</i>
            </li>
            <li>
              <i>Cheating</i>
            </li>
            <li>
              <i>Off-Topic Self-Promotions</i>
            </li>
          </ol>
          <h2 class="mb-2">Powered by You</h2>
          <p>
            This site is operated by your <%= link_to 'friendly staff', team_members_path, target: '_blank' %>. If you have any further questions about how things should work here, share your <a href="https://discourse.aicrowd.com/c/feedback/3" target="_blank">feedback here</a>, and let’s discuss!
            If there is a critical or urgent issue that can’t be handled on the AIcrowd Discourse, shoot us an email at <a href="mailto:help@aicrowd.com">help@aicrowd.com</a>
            On top of these general community guidelines, we also have <a href="https://discourse.aicrowd.com/faq" target="_blank">AIcrowd Discourse Guidelines</a> that relate to the discussions happening on the <a href="https://discourse.aicrowd.com/" target="_blank">AIcrowd Forum</a> and <a href="https://discord.gg/8jb55SpVJg" target="_blank">rules</a> that relate to the discussions happening on the <a href="https://discord.gg/8jb55SpVJg" target="_blank">AIcrowd Discord Server</a>.
          </p>
          <h2 class="mb-2">Terms of Service</h2>
          <p>
            Yes, legalese is boring, but we must protect ourselves – and by extension, you and your data – against unfriendly folks. We have a <%= link_to 'Terms of Service', terms_path, target: '_blank' %> describing your (and our) behavior and rights related to content, privacy, and laws. To use this service, you must agree to abide by our <%= link_to 'TOS', terms_path, target: '_blank' %>.
          </p>

        </div>
      </div>
      <!-- /md content -->

    </div>
  </div>
</div>
<!-- /section -->