<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>Contact</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-pt-sm-pb-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">

          <p class="lead">At AIcrowd we love to hear from our community.</p>

          <p>If you have any queries, suggestions, bug reports or want to otherwise get in touch with us, please email us at <a href="mailto:hello@aicrowd.com">hello@aicrowd.com</a>.</p>

          <h2>Interested in hosting a challenge?</h2>

          <p>Then head over to our <%= link_to "organize a challenge page", landing_page_host_path %></a> for more information and to get the ball rolling.</p>

        </div>
      </div>
      <!-- /md content -->

    </div> 
  </div>
</div>
<!-- /section -->