<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>Frequently asked questions</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-pt-sm-pb-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">

          <!-- faq -->
          <div class="mb-5">
            <p><strong>What is AIcrowd?</strong></p>

            <p>AIcrowd is a platform for open data science challenges. AIcrowd helps universities, government agencies, NGOs, or businesses to run and manage their data challenges. The AIcrowd platform is an open source infrastructure that can immediately reach thousands of data scientists around the world to work on interesting data problems.</p>
          </div>
          <!-- /faq -->

          <!-- faq -->
          <div class="mb-5">
            <p><strong>I have a data science problem - why should I work with AIcrowd?</strong></p>

            <p>Working with AIcrowd by running a data challenge on the AIcrowd platform has numerous benefits. The most important by far is that your challenge instantly gets exposure to thousands of data scientists around the world. You data challenge is transparent - the platform is open source, the discussions around your challenge are openly accessible, and the solutions are available under a license of your choice. Finally, by running a crowdsourced challenge, you send a clear signal that you're not just talking innovation, but actually walk the walk.</p>

            <p><%= link_to "Find out more about organizing a challenge", landing_page_host_path %></p>
          </div>
          <!-- /faq -->

          <!-- faq -->
          <div class="mb-5">
            <p><strong>I want to host a challenge - but does that mean I need to open my data?</strong></p>

            <p>Yes - at least a part of it. If you want to benefit from the ingenuity of thousands of data scientists, you need to make your data accessible in some form. It is often not necessary to make all data open, but just a fraction of it. And if you are concerned about privacy issues, talk to us, and we can help you evaluate the best anonymization strategies.</p>
          </div>
          <!-- /faq -->

          <!-- faq -->
          <div class="mb-5">
            <p><strong>Does this really work?</strong></p>

            <p>Absolutely. We have already run <%= link_to "multiple challenges", challenges_path %>, many with great outcomes. Crowdsourcing data challenges is not entirely new, and has a multi-year history already, with numerous success stories.</p>
          </div>
          <!-- /faq -->

          <h2>More questions?</h2>

          <p>Please <%= link_to "get in touch", contact_path %> and we'll answer your question as soon as we can.</p>

        </div>
      </div>
      <!-- /md content -->

    </div> 
  </div>
</div>
<!-- /section -->