<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>Frequently asked questions</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-pt-sm-pb-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">
          
          <!-- faq -->
          <div class="mb-5">
            <p><strong>What is AIcrowd?</strong></p>

            <p>AIcrowd is a platform for running AI, machine learning, and other data science challenges. AIcrowd helps organizations - whether businesses, universities, government agencies or NGOs - develop, manage, and promote their challenges. AIcrowd connects your problems with machine learning and data science specialists and enthusiasts, who will collaboratively try to find the most accurate, efficient and effective solutions.</p>
          </div>
          <!-- /faq -->

          <!-- faq -->
          <div class="mb-5">
            <p><strong>I have an AI / machine learning problem - why should I work with AIcrowd?</strong></p>

            <p>The AIcrowd approach has been used by the most innovative organizations in the world, both in industry and academia. Our tried-and-tested platform coordinates participants and manages submitted solutions, radically accelerating the time to solve AI problems. Through running a crowdsourced challenge, you will find that the combined power of thousands of people working on your problem can provide novel insights into your problems and their solutions. Finally, running a crowdsourced challenge is a great way to promote the innovative nature of your organizations. Let's be honest: boring companies don't run crowdsourcing challenges.</p>

            <p><%= link_to "Find out more about organizing a challenge", landing_page_host_path %></p>
          </div>
          <!-- /faq -->

          <!-- faq -->
          <div class="mb-5">
            <p><strong>I want to host a challenge - but does that mean I need to open my data?</strong></p>

            <p>Not always. Many of our challenges are simulations challenges, for example using a simulation environment to train reinforcement learning models. Other challenges may need data for training purposes, in which case your challenge will benefit if you can provide some training data. If you have questions about this, please talk to us - together we'll find a solution.</p>
          </div>
          <!-- /faq -->

          <!-- faq -->
          <div class="mb-5">
            <p><strong>Does this really work?</strong></p>

            <p>Yes - the success stories speak for themselves. We have already run dozens of challenges with great outcomes. The most innovative organizations in the world use AIcrowd because it works. But don't take our word for it - try running a challenge for yourself, and be ready to experience the power of crowdsourcing.</p>
          </div>
          <!-- /faq -->

          <!-- faq -->
          <div class="mb-5">
            <p><strong>Who is behind AIcrowd?</strong></p>

            <p>AIcrowd's history is tightly linked to EPFL, one of the two Swiss Federal Institutes of Technology, where the Digital Epidemiology Lab began to run machine learning challenges for academic conferences. Eventually, AIcrowd was created as an independent entity, ready to serve the rapidly growing demand for crowdsourced AI challenges.</p>
          </div>
          <!-- /faq -->

          <h2>More questions?</h2>

          <p>Please <%= link_to "get in touch", contact_path %> and we'll be happy to answer your questions.</p>

        </div>
      </div>
      <!-- /md content -->

    </div> 
  </div>
</div>
<!-- /section -->