<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>Privacy Policy</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">

          <p><strong>PRIVACY POLICY</strong></p>
          <p>This privacy policy (the <strong>Privacy Policy</strong>) applies to the processing of personal data by AICrowd Ltd, EPFL Innovation Park, Bâtiment C, c/o Fondation EPFL Innovation Park, 1015 Lausanne (<strong>AIcrowd</strong>) in connection with the Services (and any local adaptation thereof) accessible without limitation at www.aicrowd.com which is digital platforms allowing [entities to organize and run computational challenges, to be solved by crowdsourcing and users to be awarded rewards for their voluntary participation and submissions to such challenges] (the <strong>Platforms</strong>), and any other products and/or services available at the same URL addresses (together the <strong>Services</strong>).</p>

          <p>All capitalized terms not defined herein shall have the same meaning as set forth in the Terms of Use accessible  at www.aicrowd.com/terms<em>of</em>use.</p>

          <p>By accessing and using the Services, you expressly agree that AIcrowd processes your personal data in accordance with this Privacy Policy.</p>

          <p>AIcrowd reserves the right to amend the Privacy Policy at any time at its sole discretion in order to adapt it to any new commercial or technological practice or change in the law. Should this occur AIcrowd will inform you by any appropriate means (including via email and/or the Platforms, e.g. banners, pop-ups or other notification mechanisms). If you do not accept the amendments thus made by AIcrowd, your sole remedy is to no longer access and/or use the Services.</p>

          <ol>
          <li><p><strong>Introduction</strong></p>

          <p><em>AIcrowd recognizes the importance of your privacy and of transparency in its processing of your personal data.</em></p>

          <p>The Privacy Policy explains (i) which personal data are collected when you access and use the Services, (ii) the manner and the purposes for which AIcrowd processes the personal data, and (iii) the measures which AIcrowd takes in order to protect such personal data.</p></li>

          <li><p><strong>Legal Basis</strong></p>

          <p><em>AIcrowd only processes your personal data when it has a legal basis to do so.</em></p>

          <p>AIcrowd only processes personal data when it has a legal basis to do so, for instance (i) when the processing is necessary to comply with AIcrowd’s legal or regulatory obligations; or (ii) when such processing is necessary to perform AIcrowd’s contractual obligations towards you or to take pre-contractual steps at your request, or (iii) when such processing is necessary for the legitimate interest of Aicrowd to the extent it is not overridden by your own interest or fundamental rights and freedom, or (iv) with your prior consent. </p>

          <p>In relation to the processing of your personal data, AIcrowd’s legitimate interests may be: (i) to benefit from cost-effective services (e.g. using platforms operated by third party suppliers); (ii) to offer AIcrowd’s products and services to its customers via their representatives (e.g. by communicating a newsletter or other marketing materials); (iii) to prevent fraud or criminal activity, misuses of AIcrowd’s products or services as well as the security of its IT systems, architecture and networks; and (iv) to meet AIcrowd’s corporate and social responsibility objectives.</p></li>

          <li><p><strong>Data collection</strong></p>

          <p><em>AIcrowd collects the personal data which you provide.</em></p>

          <p>3.1    AIcrowd collects, directly or indirectly via its partners, the personal data you provide with AIcrowd and/or its partners through web forms or email, or in your use of the Services, for example, when you subscribe to AIcrowd’s newsletter, log-in to the Services, publish blog posts, or publish photos and/or videos on the Services or submit solutions to contests hosted on the Platform.</p>

          <p>3.2    Such information includes your email and username (display name), which are required for creating an Account, as well as other information which you may provide to personalize your account, including your name, surname, portrait picture, links to other website (such as social media links, Github profile, etc.). AIcrowd may request other information, including birth date, address, phone number, payment data and coordinates, when it has a reason to do so (for instance when AICrowd or its partners need to make a payment to you).</p>

          <p><em>Certain personal data are also collected in an automated manner.</em></p>

          <p>3.3    AIcrowd may also automatically collect personal data when you access and use the Services, including by means of tools and other active elements contained in or through third-party plugins/Services, and cookies and other analytics tools, such as the IP address or other user identifications on your devices, visiting date on the Services, information about your Web browser, the data contained in your device, the data contained in third party services (e.g. social plug-ins), your preferences, the internet sites that you visit before and after the Services, the links displayed on the Services which you select or other information related to your interaction with the Services, including your navigation details on the Services.</p>

          <p><em>You can define certain authorizations and settings related to the automated collection of your personal data.</em></p>

          <p>3.4    You may define certain authorizations related to data collection, in particular in connection with your device’s right to access data contained in your device, according to the available functionalities. You may also define certain settings for the automated collection of your personal data on your Web browser. For more detailed information, please consult the chapter on cookies below.</p></li>

          <li><p><strong>Processing Methods</strong></p>

          <p><em>AIcrowd may process your personal data by automated means but takes appropriate security measures in this respect.</em></p>

          <p>4.1    AIcrowd takes the appropriate technical and organizational security measures to prevent the unauthorized access, disclosure, modification, alteration or destruction of your personal data. Data processing is carried out with computers or computer tools, and in compliance with the purposes indicated in this Privacy Policy.</p>

          <p>4.2    AIcrowd does not use any individual decision-making based solely on automated processing including profiling mechanisms on the Services.</p></li>

          <li><p><strong>Purposes of Data Processing</strong></p>

          <p><em>AIcrowd processes your personal data to operate the Services.</em></p>

          <p>5.1    Your personal data are collected so that AIcrowd may operate the Services in accordance with the circumstances, or in the manner expressly indicated when the personal data concerned are collected. </p>

          <p>5.2    For instance, AIcrowd allows you to organize or participate to computational challenges, which are to be solved by crowdsourcing. In this context, AIcrowd will process the personal data you submit for the purpose or managing the contest in collaboration with the responsible contest’s organizer. </p>

          <p><em>AIcrowd may process your personal data to provide you with its newsletter and provide you further news and updates.</em></p>

          <p>5.3    For example, you can subscribe to AIcrowd’s newsletter and AIcrowd’s news update regarding AIcrowd’s, and its local partner’s, events and community activities, AIcrowd’s photos and/or videos, AIcrowd’s press releases or other documents. You may withdraw your consent at any time.</p>

          <p><em>AIcrowd may process your personal data when you publish User Content or a blog post.</em></p>

          <p>5.4    In certain sections of the Services, AIcrowd may process your personal data to allow you publishing User Content or blog posts, and synchronizing it with local partners’ websites databases.</p>

          <p><em>AIcrowd processes your personal data for statistical and planning purposes.</em></p>

          <p>5.5    Notably without limitation, AIcrowd processes your personal data to improve the Services and for internal analyses and statistics. You may withdraw your consent at any time.</p></li>

          <li><p><strong>Communication to Third Parties</strong></p>

          <p><em>AIcrowd may disclose your personal data to third parties in case this is necessary for the proper operation of the Services or as listed below.</em></p>

          <p>6.1    AIcrowd may communicate your personal data to third parties as part of operating the Services. In particular, Amazon Web Service (hosting services), Heroku (hosting services), Mailchimp (email and newsletters), Google (tracking), Facebook, LinkedIn and GitHub (social logins), Rollbar (error tracking and crash reporting, LogDNA (logging) and Skylight (performance profiler). Organizers will further have access to the information you make available in connection with your participation to the Contest they organize. </p>

          <p>6.2    AIcrowd may also enable you to use third-party services directly from the Services, namely through social plug-ins of Google, Facebook, LinkedIn, or GitHub, and use a self-hosted instance of Gitlab, in which case you recognize that the third-party operators of these services may access some of your personal data in connection with the Services.</p>

          <p>6.3    AIcrowd may disclose your personal data to subcontractors such as IT systems providers, cloud service providers, database providers and consultants.</p>

          <p>6.4    AIcrowd may disclose your personal data to any third party to whom AIcrowd assigns or transfers any of AIcrowd’s rights or obligations.</p>

          <p>6.5    AIcrowd may disclose your personal data to competent courts or supervisory or regulatory bodies, when AIcrowd shall compellingly disclose your personal data, pursuant to any applicable law, regulation or order.</p>

          <p>6.6    In the above contexts under Sections 6.1, 6.2 and 6.3, the Services may contain links to other Services. Please note that this Privacy Policy does not apply to the practices of any company or individual that AIcrowd does not control, nor to any other Services that may be linked from the Services. You should carefully review the privacy policies of any other Services that you visit from the Services to learn more about their information and privacy practices. In such contexts, the collection and use of your personal data shall be governed by such other party or Services’ privacy policy. AIcrowd shall not be held responsible for their privacy practices.</p>

          <p>6.7    AIcrowd may transfer some of your personal data, in particular the IP address and/or other user identifications for your devices, to the third-party suppliers of these solutions, who will process this data in accordance with their own internal data protection and privacy policies.</p></li>

          <li><p><strong>International transfer</strong></p>

          <p><em>Your personal data may be disclosed to countries that do not guarantee the same level of data protection and privacy as Switzerland and the European Union.</em></p>

          <p>AIcrowd stores and handles your personal data in Switzerland or in the European Union. But your personal data may be disclosed and transferred to other states, provinces, countries or other governmental jurisdictions, always in compliance with this Privacy Policy, that do not necessarily guarantee the same level of personal data protection as Switzerland and the European Union or an adequate level. If you transfer your personal data to AIcrowd, you specifically agree to such disclosure and international transfer.</p>

          <p>Furthermore, certain information you provide (for instance your public profile, blog posts, etc.) will be publicly available on the Internet; thus, accessible worldwide. </p></li>

          <li><p><strong>Cookies and similar technologies</strong></p>

          <p><em>AIcrowd uses cookies and other similar technologies in connection with the Services.</em></p>

          <p>8.1    A cookie is a small data file that AIcrowd transfers to and is stored on your electronic device. For example, AIcrowd uses cookies or other analytics tools to measure the traffic to and usage of the Services and its distinctive features, and other miscellaneous uses.</p>

          <p>8.2    AIcrowd uses diverse types of cookies or other similar technologies some of which are likely to automatically process data directly on your devices and/or to transfer data personal concerning you to AIcrowd.
          You may manage the cookies and similar technologies via the settings of your browser and/or your devices.</p>

          <p>8.3    If you do not want cookies to be stored on your device, you can configure your Web browser or your device to refuse and/or restrict the cookies. Certain cookies are however essential to the functioning of the Services itself and its use may be altered or prevented by refusing these cookies. </p>

          <p>8.4    If you do not refuse or restrict the cookies, you consent to their use and to the processing of your personal data collected in this manner. </p>

          <p>8.5    For more information, please visit <a href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a>. Please check the user help sections of your Web browser or electronic device for specific instructions on the management of cookies.</p>

          <p><em>Why and how does AIcrowd use cookies and other similar technologies?</em></p>

          <p>8.6    These technologies are generally aimed at monitoring and analyzing your interactions with the Services and/or to enable AIcrowd to improve the Services and its functionalities, namely through a personalization of the Services and the related services, according to your interactions. </p>

          <p>8.7    AIcrowd also uses cookies and similar technologies to measure and monitor the traffic and use of the Services, as well as its performance.</p>

          <p>8.8    Some cookies are retained in your electronic device for only as long as you access and use the Services, while others persist for a longer specified or unspecified period.</p>

          <p><em>AIcrowd uses the following cookies and other similar technologies:</em></p>

          <p><strong>Essential cookies</strong></p>

          <p>8.9    Some cookies AIcrowd places on your electronic device ensure that the Services delivers you without limitation information securely and optimally. You must accept these cookies to be able to make use of the Services.</p>

          <p>
            <table border="5px" cellpadding="10">
              <tr>
                <th>Cookie</th>
                <th>Expiry</th>
                <th>Description/Purpose </th>
              </tr>
              <tr>
                <td>crowdai_session</td>
                <td>[session]</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>TBC</td>
                <td>TBC</td>
                <td>TBC</td>
              </tr>
            </table>
          </p>

          <p><strong>Functionality cookies</strong></p>

          <p>8.10    Some cookies enable Services to remember choices persons make, for example, user name, and language or text size. These cookies are known as "functionality cookies" and help to improve a person's experience of a Services by providing a more personalized service.</p>

          <p>

          <p>
            <table border="5px" cellpadding="10">
              <tr>
                <th>Cookie</th>
                <th>Expiry</th>
                <th>Description/Purpose </th>
              </tr>
              <tr>
                <td><em>cookie</em>eu_consented</td>
                <td>TBC</td>
                <td>keep track of whether you have accepted the cookie notice and whether we need to show it to you again or not.</td>
              </tr>
              <tr>
                <td>TBC</td>
                <td>TBC</td>
                <td>TBC</td>
              </tr>
            </table>
          </p>

          <p><strong>Productivity cookies</strong></p>

          <p>8.11    AIcrowd uses a number of tools that monitor your use of the Services to help AIcrowd improves and customizes the provided information. </p>

          <p>
            <table border="5px" cellpadding="10">
              <tr>
                <th>Cookie</th>
                <th>Expiry</th>
                <th>Description/Purpose </th>
              </tr>
              <tr>
                <td>TBC</td>
                <td>TBC</td>
                <td>TBC</td>
              </tr>
            </table>
          </p>

          <p><strong>Third-party cookies</strong></p>

          <p>8.12    The Services uses third party services or software. Many of these services may set cookies on your electronic device. You can block or remove cookies yourselves by altering the settings of your electronic device or browser. Blocking these cookies is unlikely to impact on your experience of the Services. Third-party cookies include those of Gitlab (list here) or of the self-hosted discussion platform discourser (list here). </p>

          <p>8.13    In particular, the Platforms uses the Cookie Google Analytics which collects information and reports website usage statistics without personally identifying individual visitors to Google. You can opt out of providing AIcrowd with this information if you wish, with no impact on your experience of the Platforms. To opt out of being tracked by Google Analytics when using the Website: see https://tools.google.com/dlpage/gaoptout.</p>

          <p>
            <table border="5px" cellpadding="10">
              <tr>
                <th>Cookie</th>
                <th>Provider</th>
                <th>Expiry</th>
                <th>Description/Purpose </th>
              </tr>
              <tr>
                <td>_<em>ga</td>
                <td>Google Analytics</td>
                <td>TBC</td>
                <td>To track analytics.</td>
              </tr>
              <tr>
                <td>_<em>gd</td>
                <td>Google Analytics</td>
                <td>TBC</td>
                <td>To track analytics.</td>
              </tr>
            </table>
          </p></li>

          <li><p><strong>Your rights</strong></p>

          <p><em>You have the right to access your personal data processed by AIcrowd and may request without limitation that they be removed, updated, or rectified.</em></p>

          <p>9.1    Except as otherwise required by law, you are entitled at all times to know if AIcrowd is processing personal data concerning you. You may contact AIcrowd to know the content of such personal data, verify their accuracy and request that they be supplemented, removed, updated, or rectified. You also have the right to ask AIcrowd to cease processing any personal data that may have been obtained in breach of applicable law, and to object to the processing of your personal data for any other legitimate reason. </p>

          <p>9.2    Where AIcrowd relies on your consent to process your personal data, AIcrowd will seek your freely given and specific consent by providing you with informed and unambiguous indications relating to your personal data. You may revoke at any time such consent.</p>

          <p>9.3    You have also the right to request your personal data’s portability, i.e. that the personal data you have provided to AIcrowd be returned to you or transferred to the person of your choice, in a structured, commonly used and machine-readable format without hinderance from AIcrowd and subject to its confidentiality obligations.</p>

          <p>9.4    If you have any questions or a request in relation to the processing of your personal data by AIcrowd, please contact us at <a href="mailto:hello@aicrowd.com">hello@aicrowd.com</a>.</p></li>
          </ol>
        </div>
      </div>
      <!-- /md content -->
    </div>
  </div>
</div>
<!-- /section -->
