<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>Terms of Use</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">

          <h1 class="mt-0">1. General</h1>

          <ol>
            <li>
              <p><strong>AIcrowd</strong>. The following Terms of Use (the <strong>ToU</strong>) shall apply to the Services (and any local adaptation thereof) accessible without limitation at www.aicrowd.com, which is a digital platform allowing entities to organize and run computational challenges, to be solved by crowdsourcing and users to be awarded rewards for their voluntary participation and submissions to such challenges (the <strong>Platform</strong>), and any other products and/or services available at the same URL addresses (together the Services), which are provided by AICrowd Ltd, EPFL Innovation Park, Bâtiment C, c/o Fondation EPFL Innovation Park, 1015 Lausanne (<strong>AIcrowd</strong>).</p>
            </li>

            <li>
              <p><strong>Acceptation of the ToU.</strong> Any access or use of the Services are subject to these ToU as may be amended from time to time. Anyone who accesses, browses and/or uses the Services through whatever platform acknowledges to have read, understood and agreed to these ToU and the Privacy Policy accessible hereinunder.</p>
            </li>

            <li>
              <p><strong>Links to third party platforms.</strong> The Services may contain links to third party platforms maintained by other content providers. AIcrowd hereby disclaims any representations and warranties regarding the content or accuracy of materials on such third-party platforms.</p>
            </li>

            <li>
              <p><strong>Amendments.</strong> The ToU may be amended from time to time and such amendments shall be notified to visitors on the Platform, and through email to Users (see definition under Section 2.2). By continued access or use of the Services after any amendment of the ToU, you agree to be bound by any such amendment.</p>
          </ol>

          <h1>2. Registration</h1>

          <ol>
            <li><strong>Account.</strong> Certain Services require the registration of an account (the Account) and to sign-in before they can be used. By registering an Account or using the Services through any other means, you warrant that they are of legal age and have unrestricted legal capacity in their country of domicile or residence, or that you are of sixteen (16) years of age or that you duly obtained the consent of your legal representative(s). If the Account is created for a legal entity, any subscription for the use of the Platform by any of its employees, agents or representatives, on behalf of the legal entity, is deemed as acceptance of these ToU. If you are subscribing for the use of the Platform or on behalf of a legal entity, you represent and warrant that you are duly authorized to do so.</li>

            <li><strong>Users.</strong> By registering an Account, you become a registered user as <strong>Participant</strong>, or <strong>Organizer</strong> (together the <strong>Users</strong>). Organizer Users have the possibility to host challenges through the Platform (each Challenge), as further specified by and in agreement with AIcrowd. Participant Users can participate to such Challenge and may be rewarded for their submissions. The use of the Services as Participant is subject to the participants terms found at [link] (the <strong>Participation Terms</strong>) and any additional ad hoc challenge’s guidelines (each a <strong>Challenge Guideline</strong>), which are in addition to, and shall supersede in case of conflict, these ToU.</li>

            <li><strong>Accuracy.</strong> You warrant that all information provided to AIcrowd in the registration process or otherwise is true and accurate. You shall keep such information up to date at any time.</li>

            <li><strong>Confidentiality.</strong> You agree to keep your login and password confidential. You acknowledge that you are fully responsible for the use that is made of your Account, including any third party use irrespective of whether you authorized such use or not. You shall be fully liable for any losses and/or damages that may result from any such use. You agree to immediately notify AIcrowd of any unauthorized access or use of your Account or any other breach of security.</li>
          </ol>

          <h1>3. User Content</h1>

          <ol>
            <li><strong>User Content.</strong> As Users, you are granted the possibility to upload to, post on, transmit through, or link from the Services – as the case may be by email, through the Platform, its command-line Interface (<strong>CLI</strong>) or its forum – text, files, images, photos, videos, software code or other materials (the <strong>User Content</strong>), for instance in connection with Challenges’ </li>
            <li><strong>License on User Content.</strong> Except as otherwise provided in the Participants Terms or the applicable Challenge Guidelines, you hereby grant AIcrowd a worldwide, free of charge, perpetual, irrevocable, transferable, assignable license, with right of sublicense (including, as regards the User Content made available as Participant, to an Organizer), and any intellectual property rights related thereto, to use the User Content for any purpose. Without limiting the generality of the foregoing, AIcrowd has the right to reproduce, modify, adapt, copy, store and publish the User Content for the purpose of displaying your Content and allowing AIcrowd to operate the Website and the Services. AIcrowd has the right to make your User Content available on the Platform under the Creative Commons Attribution 4.0 International License (link) or any more restrictive licensing terms.</li>
            <li><strong>Responsibility.</strong> You understand and agree that all User Content posted on, transmitted through, or linked from the Services, are the sole responsibility of the User from whom such User Content originates. AIcrowd has no liability related to the User Content, whether arising under intellectual property, unfair competition and price indication laws, libel, privacy, obscenity, or otherwise.</li>
            <li><strong>No obligations.</strong> AIcrowd reserves the right (but not the obligation) to take any action with respect to the User Content, if AIcrowd believes that it may create liability for AIcrowd or may cause AIcrowd to lose the services of AIcrowd’ Internet service providers or other suppliers and/or providers.</li>
            <li><strong>No warranties.</strong> AIcrowd cannot, nor does it undertake any obligation to, control the User Content. AIcrowd does not make any representation or warranty, express or implied, as to the accuracy, timeliness, or completeness of such information, nor does AIcrowd undertake to verify, update or correct such information. AIcrowd also does not make any representation or warranty, express or implied, regarding any User Content. AIcrowd reserves the right to adjust, refuse or remove any User Content at AIcrowd’s sole discretion, in particular to comply with any applicable law.</li>
          </ol>

          <h1>4. Use of the Services and license</h1>

          <ol>
            <li><strong>License.</strong> Subject to your compliance with the ToU and any additional applicable terms, in particular the Participation Terms, and your registration as User, AIcrowd grants you a non-exclusive, non-transferable, revocable and limited license, without right of sublicense, to use the Services for, notably without limitation, allowing you to participate to Challenges on the Platform. As a rule, all blog posts and other texts published by AIcrowd on the Platform are made available under the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License (link).</li>

            <li><strong>Restrictions.</strong> To the extent permitted by applicable law and unless otherwise agreed with AIcrowd, you are not allowed to (i) copy, modify or create derivatives of any part or all of the Platform and/or the Services; (ii) resell, transfer, assign, lease, lend, or license the Platform and/or the Services to third parties; and (iii) deep-link, reverse engineer, disassemble or monitor (e.g. spider, scrape) the Platform and/or the Services. AIcrowd and/or its licensors reserve all rights on the Platform and/or the Services not expressly granted herein. For contents made available under a Creative Commons license, the terms of such license shall apply.</li>

            <li><strong>No obligations.</strong> AIcrowd shall have no obligation to monitor the use of the Services or to edit, review or modify any content of the Services. AIcrowd reserves its right to edit, review or modify the content of the Services without prior notice at any time notably without limitation for purposes of compliance with the ToU or any applicable law. AIcrowd reserves its right to investigate on any infringement or behavior affecting the Services. AIcrowd reserves its right to cooperate with competent authorities in case of violation of any applicable law.</li>

            <li><strong>Representations and warranties of Users.</strong> You represent and warrant that your use of the Services, and that your User Content, shall not (i) infringe, or cause a third party to infringe, any applicable law or regulation; (ii) infringe any intellectual property right, or other proprietary right or right of publicity or privacy (iii) be unlawful; (iv) be defamatory or trade libelous; (v) be obscene or contain pornography; (vi) include incomplete, false or inaccurate information about yourself, your organization, or any information about any other individual, company or other legal entity; (vii) be inadequate or inadequate language and (viii) shall not contain any viruses, Trojan horses, worms, time bombs, cancel bots or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information.</li>
          </ol>

          <h1>5. Intellectual property</h1>

          <ol>
            <li><strong>Ownership of AIcrowd.</strong> Without prejudice to Section 5.2, AIcrowd and its licensors own the copyright and all intellectual property rights in and to the Services and on the content published on and/or through the Services.</li>

            <li><strong>Ownership of User.</strong> Without prejudice to Section 3.2, and except as otherwise specified in the Participation Terms or any applicable Challenge Guidelines, Users or their licensors retain ownership of all rights, title and interest in and to their User Content.</li>

            <li><strong>Infringement.</strong> If you think that the Services or the provision of any content of the Services infringe any copyright or other intellectual property right, you may at all times contact AIcrowd at hello@aicrowd.com and ask AIcrowd to remove such content from the Services.</li>
          </ol>

          <h1>6. Privacy and data protection</h1>

          <ol>
            <li><strong>Privacy Policy.</strong> AIcrowd privacy policy is accessible at <%= link_to 'www.aicrowd.com/privacy_policy', privacy_path %>.</li>
          </ol>

          <h1>7. Suspension and termination of use</h1>

          <ol>
            <li><strong>Cancellation.</strong> You have the possibility at any time, and without notice, to cancel your Account by following the procedure set out in the Account. Upon cancellation of your Account, you will automatically and immediately forfeit your right to participate to any Challenge and your User Content will be redacted (by removing your username and other personal data) but will remain available on the Platform.</li>

            <li><strong>Suspension and termination.</strong> You agree that AIcrowd may, at AIcrowd’s sole discretion, temporarily or permanently suspend, cancel or terminate your Account, and/or your access and/or use to all or part of the Services, with or without notice and for any reason, including, without limitation, breach of these ToU, the Participation Terms or the ad hoc Challenges Guidelines, without incurring any liability. Any suspected illegal, fraudulent or abusive activity may be grounds for terminating the relationship and may be referred to appropriate law enforcement authorities. Upon suspension, cancellation, or termination, your right to access and/or use the Services will immediately cease, and subject to applicable law, AIcrowd reserves the right to remove or delete any information and/or content, in particular the User Content, including any Account or login information.</li>
          </ol>

          <h1>8. No warranties and liability</h1>

          <ol>
            <li><strong>No warranties.</strong> You agree that your access and use of the Services shall be at your sole risk and liability. You acknowledge that the content of the Services is provided “as is” and “as available”, and that to the fullest extent permitted by applicable law, AIcrowd disclaims all warranties, express or implied, in connection with the Services and their access and use thereof.</li>

            <li><strong>No further representations and warranties.</strong> Furthermore, AIcrowd makes no warranties or representations about and bears, unless fraudulent intent or gross negligence, no liability for (i) the accuracy or completeness of the content of the Services, notably User Content, including but not limited to any errors, mistakes, inaccuracies of content, as well as its timely and proper delivery; (ii) limitations; (iii) personal injury; or (iv) property damage, of any nature whatsoever resulting from (a) any Users’ access or use of the Services; (b) any unauthorized access or use of any and all data and/or personal information stored through or on the Services; (c) any interruption or cessation of transmission to or from the Services; (d) any bugs, viruses, Trojan horses, or the like which may be transmitted to or through the Services by any third party; (e) any errors or omissions in any content; or (f) any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, published, uploaded, linked from, or otherwise made available via the Services.</li>

            <li><strong>No liability.</strong> To the extent permitted by applicable law, AIcrowd waives all liability for any direct, indirect, consequential or special losses or damages of any kind whatsoever, arising from, or in connection with, the access and use of the Services, including authorized or unauthorized third party use of Accounts, or any reliance on any of the content, notably User Content, provided on or otherwise in connection with the Services.</li>
          </ol>

          <h1>9. Indemnification</h1>
          <ol>
            <li>You shall defend, hold harmless and indemnify AIcrowd for any claim, demand, dispute, litigation, damage or loss (including reasonable attorney’s fees) incurred by AIcrowd or another User of the Services or a third party arising out of your access and use of the Services and/or any infringement of the ToU.</li>
          </ol>

          <h1>10. Miscellaneous</h1> 
          <ol>
            <li>If any provision of these ToU is or becomes invalid, unenforceable or non-binding, this shall not affect any other provision thereof. In such event, such invalid, unenforceable or non-binding provision shall nonetheless be enforced to the fullest extent permitted under applicable law, insofar as the invalid, unenforceable or non-binding provision shall be replaced by a valid, enforceable and binding provision reflecting to the greatest extent possible the intent of the original provision.</li>
          </ol>

          <h1>11. Contact</h1> 
          <ol>
            <li>For any questions regarding the Services or the ToU, you may contact AIcrowd at <%= mail_to 'hello@aicrowd.com' %></li>
          </ol>

          <h1>12. Governing law and jurisdiction</h1>

          <ol>
            <li><strong>Governing Law.</strong> These ToU, Participation Terms, Challenge Guideline and the providing of the Services shall be governed by and construed in accordance with Swiss substantive law, without reference to its conflict of laws provisions.</li>

            <li><strong>Jurisdiction.</strong> Any dispute or difference arising out of or in relation to these ToU, Participation Terms, Challenge Guideline or the providing of the Services shall be subject to the exclusive jurisdiction of the competent courts at the registered office of AIcrowd, subject to the right of appeal to the Swiss Federal Tribunal.</li>
          </ol>


        </div>
      </div>
      <!-- /md content -->

    </div>
  </div>
</div>
<!-- /section -->