@import "../../../constants/scss/abstracts/__abstracts-dir.scss";
@import "../../../styles/base/__base-dir.scss";

.cardBadge {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  height: 26px;
  border-radius: 0px 6px 6px 0px;
  position: relative;
  @include media-query("small-medium") {
    height: 17px;
  }
}
.cardTriangle {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;
  left: 3.5px;
  filter:brightness(80%);
  transform: rotate(-49deg);
  z-index: -2;
}

