@import "../../../../constants/scss/abstracts/__abstracts-dir.scss";
@import "../../../../styles/vendor/__vendor-dir.scss";
@import "../../../../styles/base/__base-dir.scss";

.btn-facebook {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  color: #3b5998;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  height: 36px;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  user-select: none;
  width: 36px;
  @include transition;
  @include media-query("small-medium") {
    font-size: 14px;
    height: 32px;
    width: 32px;
  }
  &:hover {
    border: 1px solid #c9c9c9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  }
}

.btn-linkedin {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  color: #2867b2;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  height: 36px;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  user-select: none;
  width: 36px;
  @include transition;
  @include media-query("small-medium") {
    font-size: 14px;
    height: 32px;
    width: 32px;
  }
  &:hover {
    border: 1px solid #c9c9c9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  }
}

.btn-twitter {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  color: #1da1f2;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  height: 36px;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  user-select: none;
  width: 36px;
  @include transition;
  @include media-query("small-medium") {
    font-size: 14px;
    height: 32px;
    width: 32px;
  }
  &:hover {
    border: 1px solid #c9c9c9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  }
}

.sr-only {
  text-transform: capitalize;
}
