<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead, @challenge, current_participant: current_participant)%>
  <%= concept(Challenge::Cell::ChallengeSubnav, @challenge, current_participant: current_participant) %>

  <% if @challenge.dataset_note.present?  %>
  <div class='update'>
    <p><%= sanitize(@challenge.dataset_note) %></p>
  </div>
  <% end %>

  <div class="row">
      <ul class="list-datasets">
          <%= concept(Dataset::Cell::ListDetail,
                      collection: @dataset_files,
                      current_participant: current_participant) %>
      </ul>
  </div>
</div>
