<div class='content'>
  <%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
  <%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

  <%= render partial: 'dataset_files' %>
</div>
