AWS_REGION: "REDACTED"
CROWDAI_API_KEY: "8c69ef80a5eb4438ec326d200ce6ab39"

development: &development
  DOMAIN_NAME: 'http://localhost:3000'
  AWS_S3_BUCKET: 'fake-bucket'
  AWS_S3_SHARED_BUCKET: 'fake-shared-bucket'
  AWS_ACCESS_KEY_ID: '...'
  AWS_SECRET_ACCESS_KEY: '...'
  AWS_REGION: 'us-east-1'
  AWS_ENDPOINT: 'http://localhost:4572'
  GRADER: "REDACTED"
  SMTP_ADDRESS: smtp.mandrillapp.com
  SMTP_DOMAIN: localhost
  SMTP_PASSWORD: "REDACTED"
  SMTP_USERNAME: "REDACTED"
  MANDRILL_KEY: "REDACTED"
  MAILCHIMP_API_KEY: "REDACTED"
  MAILCHIMP_LIST_ID: "REDACTED"
  DEVISE_SECRET_KEY: "bf2c609dce6a10cd29b36c7e639d0e34"
  SECRET_KEY_BASE: "b40bed63477347e21a257ced8760f305"
  DISCOURSE_DOMAIN_NAME: 'https://discourse-staging.aicrowd.com'
  DISCOURSE_API_KEY: "REDACTED"
  DISCOURSE_API_USERNAME: "REDACTED"
  DISCOURSE_API_TOP_CONTRIBUTORS_QUERY_ID: "1"
  DISCOURSE_API_USERS_POSTS_QUERY_ID: "2"
  DISCOURSE_INITIAL_ID: "1000"
  DISCOURSE_API_BADGES_QUERY_ID: "5"
  DISCOURSE_API_BADGES_META_QUERY_ID: "7"
  FOG_LOCAL_ROOT: '~/fog'
test:
  <<: *development
  MANDRILL_KEY: "G_rHM-BQ9DF6IG2wKa3-Pw"
