<!-- section -->
<div class="section-p-md">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">

				<% if @participant_challenges.blank? %>
					<div class="md-content">
                		<%= "No participants for this challenge yet" %>
              		</div>
				<% else %>
					<ul class="list-group list-group-flush-px-0 list-group-organizers">
						<%= concept(ParticipantChallenge::Cell::ListDetail,
							collection: @participant_challenges,
							current_participant: current_participant) %>
					</ul>
				<% end %>
			</div>
		</div> 
	</div>
</div>
<!-- /section -->



