<% @participant_challenges.each do |challenge_participant| %>
  <% participant = challenge_participant.participant %>
  <li class="list-group-item">
    <%= link_to participant_path(participant) do %>
      <%= image_tag participant.image_url, class: 'avatar' %>
      <span class="text-link"><%= participant.name %></span>
    <% end %>
  </li>
<% end %>
