<!-- section -->
<div class="section-p-md">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<% if @participant_challenges.blank? %>
					<div class="md-content">
                		<%= "No participants for this challenge yet" %>
              		</div>
				<% else %>
					<ul class="list-group list-group-flush-px-0 list-group-organizers" id="pc-ul">
		              <%= render partial: 'participant_challenge_rows' %>
					</ul>
					<!-- load more -->
						<span id="more-anchor"></span>
						<%= render partial: 'shared/load_more', locals: { collection: @participant_challenges} %>
					<!-- /load more -->
				<% end %>
			</div>
		</div> 
	</div>
</div>
<!-- /section -->
