<% @participant_challenges.each do |challenge_participant| %>
  <% participant = challenge_participant.participant %>
  <li class="list-group-item">
    <%= render partial: 'participants/get_user_profile', locals: { participant: participant } %>
  </li>
<% end %>
