<!--Detail media start-->
<% if challenge.media_on_leaderboard %>
  <div class="detail-media">
    <%= concept(Leaderboard::Cell::Media,
          @submission,
          size: :large,
          submission_id: submission_id,
          current_participant: current_participant) %>
  </div>
<% end %>
<!--Detail media end-->