<% if submission.meta.present? %>
	<table>
		<% submission.meta.each do |key, value| %>
			<% if not key.start_with?('private') %>
				<tr>
					<td> <%= key %></td>
					<td> <%= value %></td>
				</tr>
				<% end %>
		<% end %>
	</table>
<% end %>
