<div class='content'>
  <%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds } %>
  <%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>
  <br/>
  <div class="row">
    <div class='markdown-wrap'>
      <%= sanitize(@challenge.winner_description) %>
    </div>
  </div>
</div>
