<div class="prizes-breakdown">
  <% if (challenge.prize_cash.present? || challenge.prize_travel.present? || challenge.prize_academic.present? || challenge.prize_misc.present?) %>
    <% if challenge.prize_cash.present? %>
      <div class="prize-item prize-item-cash">
        <%= challenge.prize_cash %> Prize Money
      </div>
    <% end %>

    <% if challenge.prize_travel.present? %>
      <div class="prize-item prize-item-travel">
        <%= challenge.prize_travel %> Travel Grants
      </div>
    <% end %>

    <% if challenge.prize_academic.present? %>
      <div class="prize-item prize-item-academic">
        <%= challenge.prize_academic %> Authorship/Co-Authorship
      </div>
    <% end %>

    <% if challenge.prize_misc.present? %>
      <div class="prize-item prize-item-misc">
        Misc Prizes :
        <%= challenge.prize_misc %>
      </div>
    <% end %>
  <% end %>
</div>
