---
http_interactions:
- request:
    method: post
    uri: https://discourse-staging.aicrowd.com/admin/plugins/explorer/queries/1/run.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - REDACTED
      Api-Username:
      - REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Username:
      - REDACTED
      X-Discourse-Route:
      - query/run
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[],"duration":30.2,"result_count":10,"params":{},"columns":["username","score"],"default_limit":1000,"relations":{},"colrender":{},"rows":[["kelleni2",751],["bjoern.holzhauer",459],["maruthi0506",447],["shravankoninti",433],["gokuleloop",406],["carlos.cortes",384],["ngewkokyew",357],["rohitmidha23",348],["amapic",345],["josephmkahnnvs",326]]}'
  recorded_at: Wed, 11 Mar 2020 12:27:02 GMT
recorded_with: VCR 5.0.0
