<!-- top contributors -->
<div class="card">
  <ul class="list-group list-group-flush list-group-latest-contributors">
    <% discourse_top_contributors.each do |top_contributor| %>
      <!-- user -->
      <li class="list-group-item">
        <% if top_contributor['participant'].present? %>
          <%= render partial: 'participants/user_link', locals: { participant: top_contributor['participant'] } %>
        <% end %>

        <div class="reputation-info">
          <span class="reputation-score" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reputation score"><%= top_contributor['score'] %></span>
        </div>
      </li>
      <!-- /user -->
    <% end %>
  </ul>
</div>
<!-- /top contributors -->
