<!-- masthead -->
<div class="masthead masthead-open">
  <div class="container-fluid">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h1>Organize a challenge</h1>
      </div>
    </div>
    <!-- /title -->

  </div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-pt-sm-pb-md">
  <div class="container-fluid">
    <div class="row">

      <!-- md content -->
      <div class="col-12">
        <div class="md-content">

          <p class="lead">AIcrowd is the premier open platform for crowdsourcing real-world problems, through challenges.</p>

          <p>AIcrowd connects your problems with machine learning and data science specialists and enthusiasts, who will collaboratively try to find the most accurate, efficient and effective solutions.</p>

          <p>The AIcrowd approach has been used by the most innovative organizations in the world, both in industry and academia. Our tried-and-tested platform coordinates participants and manages submitted solutions, radically accelerating the time to solve AI problems.</p> 

          <% if @crowdai.present? %>
            <%= link_to 'Get Started', challenge_call_apply_path(@crowdai), class: 'btn btn-primary mt-3' %>
          <% end %>
        </div>
      </div>
      <!-- /md content -->
    </div> 
  </div>
</div>
<!-- /section -->