<div class="prizes-breakdown">
<% if challenge.prize_cash? %>
  <div class="prize-item prize-item-cash">
    <%= challenge.prize_cash %> Prize Money
  </div>
<% end %>

<% if challenge.prize_travel? %>
  <div class="prize-item prize-item-travel">
    <%= challenge.prize_travel %> Travel Grants
  </div>
<% end %>

<% if challenge.prize_academic? %>
  <div class="prize-item prize-item-academic">
    <%= challenge.prize_academic %> Academic Papers
  </div>
<% end %>

<% if challenge.prize_misc? %>
  <div class="prize-item prize-item-misc">
    Misc Prizes :
    <%= challenge.prize_misc %>
  </div>
</div>
<% end %>
