<div class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>AIcrowd Rankings</h1>
        <%= link_to "Learn more about rankings", blog_path('reputation-system-launch') %>
      </div>
    </div>
  </div>
</div>
<section class="section-p-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive-md">
          <table class="table table-leaderboard">
            <thead>
            <tr>
              <th scope="col" class="sticky-header leaderboard-change">Δ</th>
              <th scope="col" class="sticky-header">Rank</th>
              <th scope="col" class="sticky-header">Participant</th>
              <th scope="col" class="sticky-header">Affiliation</th>
              <th scope="col" class="sticky-header">Country</th>
              <th scope="col" class="sticky-header">Rating</th>
              <th scope="col" class="sticky-header"></th>
            </tr>
            </thead>
            <tbody class="table-leaderboard-body" data-page='1' data-request-completed='true' data-controller="load-more" data-action="scroll@window->load-more#load_more_data">
              <%= render partial: 'rating_leaderboard', locals: { participants: @participants } %>
            </tbody>
            <% if @self_standing %>
              <thead>
                <tr><th colspan="7" style="text-align: center;">Your Standings</th></tr>
              </thead>
              <tbody>
                <%= render partial: 'rating_leaderboard', locals: { participants: @self_standing } %>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
