---
http_interactions:
- request:
    method: put
    uri: https://discourse-staging.aicrowd.com/categories/30.json
    body:
      encoding: UTF-8
      string: color=49d9e9&id=30&name=Way+To+Long+Chalenge+Name+-+aaaaaaaaaaaaaaaaaaa...&parent_category_id&slug=way-to-long-chalenge-name-aaaaaaaaaaaaaaaaaaaaa...&text_color=f0fcfd
    headers:
      Api-Key:
      - REDACTED
      Api-Username:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Username:
      - REDACTED
      X-Discourse-Route:
      - categories/update
    body:
      encoding: UTF-8
      string: '{"errors":["Category Name has already been taken"]}'
  recorded_at: Fri, 31 Jan 2020 12:58:41 GMT
- request:
    method: put
    uri: https://discourse-staging.aicrowd.com/categories/30.json
    body:
      encoding: UTF-8
      string: color=49d9e9&id=30&name=Way+To+Long+Chalenge+Name+-+aaaaaaaaaaaa...-3d5f70&parent_category_id&slug=way-to-long-chalenge-name-aaaaaaaaaaaaaa...-198891&text_color=f0fcfd
    headers:
      Api-Key:
      - REDACTED
      Api-Username:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Username:
      - REDACTED
      X-Discourse-Route:
      - categories/update
    body:
      encoding: ASCII-8BIT
      string: '{"success":"OK","category":{"id":30,"name":"Way To Long Chalenge Name
        - aaaaaaaaaaaa...-3d5f70","color":"49d9e9","text_color":"f0fcfd","slug":"way-to-long-chalenge-name-aaaaaaaaaaaaaa-198891","topic_count":0,"post_count":0,"position":29,"description":null,"description_text":null,"description_excerpt":null,"topic_url":"/t/about-the-way-to-long-chalenge-name-aaaaaaaaaaaa-3d5f70-category/53","read_restricted":false,"permission":null,"notification_level":null,"can_edit":true,"topic_template":null,"has_children":null,"sort_order":null,"sort_ascending":null,"show_subcategory_list":false,"num_featured_topics":3,"default_view":null,"subcategory_list_style":"rows_with_featured_topics","default_top_period":"all","minimum_required_tags":0,"navigate_to_first_post_after_read":false,"custom_fields":{},"min_tags_from_required_group":1,"required_tag_group_name":null,"available_groups":["admins","at-aicrowd-test","moderators","staff","trust_level_0","trust_level_1","trust_level_2","trust_level_3","trust_level_4"],"auto_close_hours":null,"auto_close_based_on_last_post":false,"group_permissions":[{"permission_type":1,"group_name":"everyone"}],"email_in":null,"email_in_allow_strangers":false,"mailinglist_mirror":false,"all_topics_wiki":false,"can_delete":true,"cannot_delete_reason":null,"allow_badges":true,"topic_featured_link_allowed":true,"search_priority":0,"uploaded_logo":null,"uploaded_background":null}}'
  recorded_at: Fri, 31 Jan 2020 12:58:42 GMT
recorded_with: VCR 5.0.0
