@import "../../../../constants/scss/abstracts/__abstracts-dir.scss";
@import "../../../../styles/base/__base-dir.scss";

.btn-like {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  color: var(--color-text-light);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  @include transition;
  @include media-query("large") {
    font-size: 13px;
  }
  @include media-query("small-medium") {
    font-size: 12px;
    height: 32px;
  }
  @include media-query("small") {
    padding: 0 14px;
  }
  &:focus,
  .focus {
    outline: 0;
    .las {
      color: var(--color-accent-text);
    }
  }
  &:hover {
    border: 1px solid #c9c9c9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    .las {
      color: var(--color-accent-text);
    }
  }
  &.disabled,
  &:disabled {
    opacity: 0.6;
  }
  .like-counter {
    margin-left: 4px;
  }
}
