@import "../../../../constants/scss/abstracts/__abstracts-dir.scss";
@import "../../../../styles/base/__base-dir.scss";

.btn-outline {
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  @include transition;
  @include media-query("large") {
    font-size: 13px;
  }
  @include media-query("small-medium") {
    font-size: 12px;
    height: 32px;
    padding: 0 16px;
  }
  @include media-query("small") {
    padding: 0 14px;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
}

.btn-primary {
  align-items: center;
  background-color: var(--color-accent);
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: 0 1px 1px 0 rgba(240, 82, 77, 0.12);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  @include transition;
  @include media-query("large") {
    font-size: 13px;
  }
  @include media-query("small-medium") {
    font-size: 12px;
    height: 32px;
    padding: 0 16px;
  }
  @include media-query("small") {
    padding: 0 14px;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
  &:hover {
    background-color: var(--color-accent-text);
    box-shadow: 0 1px 1px 0 rgba(107, 79, 79, 0.24);
  }
  &.disabled,
  &:disabled {
    opacity: 0.6;
  }
}

.btn-secondary {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  color: var(--color-text);
  cursor: pointer;
  display: inline-flex;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  padding: 0 20px;

  text-align: center;
  text-decoration: none;
  user-select: none;

  @include transition;
  @include media-query("large") {
    font-size: 13px;
  }
  @include media-query("small-medium") {
    font-size: 12px;
    height: 32px;
    padding: 0 16px;
  }
  @include media-query("small") {
    padding: 0 14px;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
  &:hover {
    border: 1px solid #c9c9c9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  }
  &.disabled,
  &:disabled {
    opacity: 0.6;
  }
}

[data-theme="dark"] {
  .btn-secondary {
    border: 1px solid var(--color-border);
  }
}

.large {
  padding: 21px 30px;
  i {
    font-size: 20px;
    padding-left: 8px;
  }

  @include media-query("small") {
    padding: 20px 23px;
    font-size: 13px;
    font-weight: 600;
  }
}

.wide {
  padding: 21px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
