/*
 *= require mentionsInput/jquery.mentionsInput
 *= require_self
 *= require_tree .
 */

.commontator {
  .commontator-hidden {
    display: none;
  }

  .header {
    display: block;

    overflow: hidden;
  }

  .actions {
    float: right;

    margin-left: 10px;
  }

  .status {
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0px;
  }

  .comment-list {
    background-color: #FFF;
  }

  .children {
    padding-left: 15px;
  }

  /* Modified from: https://www.strangerstudios.com/sandbox/pagination/diggstyle.php */
  .page-entries-info, .will-paginate {
  	margin: 10px 0;
  }

  .pagination {
    a {
    	margin-right: 4px;
    	padding: 2px 5px 2px 5px;
    	border: 1px solid #999;

    	color: #666;
    	text-decoration: none;

      &:hover, &:active {
        border: 1px solid #555;

        color: #000;
      }
    }

    em {
    	margin-right: 4px;
      border: 1px solid #555;
    	padding: 2px 5px 2px 5px;

      background-color: #555;

      font-weight: bold;
      color: #FFF;
    }

    .name {
    	margin: 2px 9px 2px 0;
    }

    .disabled {
    	margin-right: 4px;
      border: 1px solid #EEE;
      padding: 2px 5px 2px 5px;

      color: #DDD;
    }
  }

  .mentions {
    left: -8px;
    top: -8px;

    font-family: monospace;
    font-size: 13.3333px;
  }

  .field textarea {
    width: 100%;
    overflow: auto;
  }

  .submit {
    float: right;
    margin: 10px 0;
  }
}

.commontator .comment {
  &, .body blockquote {
    border: none;
    border-top: 1px solid;
    border-left: 1px solid;

    font-weight: normal;
    color: #000;
  }

  & {
    clear: both;

    margin: 15px 0;
    border-color: #DDD;
    padding: 0;

    font-style: normal;
  }

  .section {
  	clear: both;

    margin: 5px 7px;
  }

  .author {
    font-size: 110%;
  }

  .actions {
    font-size: 90%;
  }

  .avatar {
    float: left;

    margin-right: 7px;
  }

  .votes {
    float: right;

    margin-left: 7px;

    text-align: center;

    input, img {
      background-color: transparent;
    }
  }

  .upvote, .downvote {
    display: block;

    height: 18px;

    margin: 5px 0;
  }

  .like {
    float: left;

    margin: 0 5px;
  }

  .vote-count {
    font-size: 110%;
  }

  .body {
    overflow: hidden;

    blockquote {
      border-color: #CCC;
      padding: 5px 7px;

      background-color: #EEE;

      font-style: italic;
    }
  }

  .reply, .timestamp {
    font-size: 90%;
  }

  .timestamp {
    color: #666;
  }

  .error-explanation {
    margin-bottom: 10px;

    h3 {
      margin-top: 5px;
    }

    ul {
      list-style-position: inside;
    }
  }

  .pagination {
    margin: 10px 7px;
  }
}
