<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="article">
          <div class="markdown-wrap">
            <%= sanitize_html(@participation_terms.terms) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
