<%= concept(Challenge::Cell::ChallengeMasthead, @challenge, current_participant: current_participant) %>
<%= render partial: 'challenges/show/subnav',
           locals: {challenge: @challenge} %>

<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="list-host-members">
          <%= render partial: 'clef_participants' %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /section -->
