<%= concept(Challenge::Cell::ChallengeMasthead, @challenge, current_participant: current_participant) %>
<%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>

<div class="section-p-md">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<% if @clef_task.participant_clef_tasks.blank? %>
					<div class="md-content">
                		<%= "No participants for this challenge yet" %>
              		</div>
				<% else %>
					<ul class="list-group list-group-flush-px-0 list-group-organizers" id="pc-ul">
		              <%= render partial: 'clef_participants' %>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</div>
