<div class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4><%= link_to @challenge.challenge, challenge_path(@challenge), class: 'red-link' %>
        </h4>
        <h1>Edit challenge</h1>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'challenges/navigation', locals: { challenge: @challenge } %>
<div id="challenges-form__wrapper">
  <%= render partial: 'challenges/form', locals: {
    challenge:        @challenge,
    challenge_rounds: @challenge_rounds,
  } %>
</div>
