<!-- masthead -->
<div class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Challenges</h1>
      </div>
    </div>
  </div>
</div>
<!-- /masthead -->
<!-- filter -->
<div class="filter-bar">
  <div class="container-fluid">
    <%= render partial: 'shared/challenges/filter', locals: { status: @status, categories: @categories, prize_hash: @prize_hash, path: challenges_path, is_practice: false } %>
  </div>
</div>
<!-- /filter -->

<!-- filtered text -->
<div class="container-fluid">
  <% if params[:status].present? || params[:categories].present? || params[:prizes].present? %>
    <p class='card-text'>
      <%= filter_message(params[:status], params[:categories], params[:prizes]) %>
      <%= link_to 'Clear Filter', challenges_path, class: 'btn btn-sm apply-filter-btn none-underline'  %>
    </p>
  <% end %>
</div>
<!-- /filtered text -->

<!-- challenge cards -->
<div class="section-pt-sm-pb-md">
  <div class="container-fluid">
    <div class="row" id="challenges-div" data-page='1' data-request-completed='true' data-controller="load-more" data-action="scroll@window->load-more#load_more_data">
      <%= render partial: 'shared/challenges/listing', locals: { challenges: @challenges } %>
    </div>
  </div>
</div>
<!-- /challenge cards -->
