<!-- masthead -->
<div class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Challenges</h1>
      </div>
    </div>
  </div>
</div>
<!-- /masthead -->

<%= concept(Challenge::Cell::ChallengesSubnav, @challenges, current_participant: current_participant) %>

<!-- challenge cards -->
<div class="section-pt-sm-pb-md">
  <div class="container-fluid">
    <div class="row" id="challenges-div">
      <%= render partial: 'challenges' %>
    </div>
	  
    <%# Uncomment this when we want pagination on this page. #>
    <%#= render partial: 'shared/load_more', locals: { collection: @challenges}, :id=>"load_more_link" %>

  </div>
</div>
<!-- /challenge cards -->
</main>
