<!-- masthead -->
<div class="masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Challenges</h1>
      </div>
    </div>
  </div>
</div>
<!-- /masthead -->


<!-- challenge cards -->
<div class="section-pt-sm-pb-md">
  <div class="container-fluid">
    <div class="row">
      <%= render partial: 'challenges' %>
    </div>   

    <!-- load more -->
    <div class="load-more mt-0">
      <%= render partial: 'shared/load_more',
        locals: { collection: @challenges } %>
    </div>
    <!-- /load more --> 

  </div>
</div>
<!-- /challenge cards -->

</main>