<%= concept(Challenge::Cell::ChallengeMasthead,@challenge) %>
<%= concept(Challenge::Cell::ChallengeSubnav,@challenge, current_participant: current_participant) %>

<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- sub-nav – vertical -->
      <div class="col-lg-2 sub-nav-vertical-container">
        <ul class="nav flex-column sticky-top-sub-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#introduction">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dataset">Dataset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#partners">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#rules">Rules</a>
          </li>
        </ul>
      </div>
      <!-- /sub-nav – vertical -->

      <!-- md content -->
      <div class="col-md-8 col-lg-7">
        <div id="introduction" class="md-content">

          <div class="update">
            <strong>Update 20 Nov 2018</strong>: Unfortunately we have had to make some changes to the challenge dataset. More specifically, we have had to remove some features from the track features table (the updated Dataset Description file outlines the new track features schema). Please note that the other parts of the dataset all remain unchanged, except the track features table in the mini version of the dataset which was changed correspondingly. We apologize for any inconvenience caused by this change. If your work on the challenge is affected, we would appreciate if you email us at <a href="#">wsdm-cup-2019@spotify.com</a> so that we can better understand any potential impact on participants.
          </div>

          <p class="lead">Spotify is an online music streaming service with over 190 million active users interacting with a library of over 40 million tracks.</p>

          <p>A central challenge for Spotify is to recommend the right music to each user. While there is a large related body of work on recommender systems, there is very little work, or data, describing how users sequentially interact with the streamed content they are presented with. In particular within music, the question of if, and when, a user skips a track is an important implicit feedback signal.</p>

          <img class="md-image" src="assets/img/challenge-article-1.jpg">

          <p>We release this dataset and challenge in the hope of spurring research on this important and understudied problem in streaming. Our challenge focuses on the task of session-based sequential skip prediction, i.e. predicting whether users will skip tracks, given their immediately preceding interactions in their listening session.</p>

          <p>The organization of this challenge is a joint effort of <a href="#">Spotify</a>, <a href="#">WSDM</a>, and <a href="#">CrowdAI</a>.</p>

          <h1 id="dataset">Dataset</h1>

          <p>The public part of the dataset consists of roughly 130 million listening sessions with associated user interactions on the Spotify service. In addition to the public part of the dataset, approximately 30 million listening sessions are used for the challenge leaderboard. For these leaderboard sessions the participant is provided all the user interaction features for the first half of the session, but only the track ids for the second half. In total, users interacted with almost 4 million tracks during these sessions, and the dataset includes acoustic features and metadata for all of these tracks.</p>

          <h2>Sub-heading</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et egestas nisi, nec faucibus ligula. Vestibulum convallis mollis sollicitudin. Mauris ultrices nibh libero, in viverra dui tempus vel:</p>

          <ul>
            <li>Curabitur tincidunt nibh quis vulputate porttitor</li>
            <li>Praesent a tempor elit</li>
            <li>Fusce pulvinar leo eu magna luctus</li>
          </ul>

          <h1 id="partners">Partners</h1>

          <div class="logos-organizers">
            <div class="logo-organizer">
              <img class="img-fluid" src="assets/img/logo-organizer-un.svg">
            </div>
            <div class="logo-organizer">
              <img class="img-fluid" src="assets/img/logo-organizer-uber.svg">
            </div>  
          </div>

          <h1 id="rules">Rules</h1>

          <p>The competition rules are given below, the dataset terms of use and challenge terms and conditions can be found on the Dataset page.</p>

          <ol>
            <li>Participants must agree to the dataset terms of use and challenge terms and conditions in order to participate in this challenge.</li>
            <li>Each [participant] account shall represent only one (1) team.</li>
            <li>Team mergers are allowed at any time prior to the two (2) week period before the competition end date and must be communicated in writing to the challenge organizers at <a href="#">wsdm-cup-2019@spotify.com</a>.</li>
            <li>A merged team forms one (1) teams for the remainder of the competition, and such team must designate a single account for subsequent submissions in the competition. The other accounts associated with team members in a merged team shall not be used for further submissions.</li>
            <li>Each team may only make five (5) submissions per day. The last submission day is January 4, 2019.</li>
            <li>At the end of the challenge, each team is required to open source the source code that was used to generate their final challenge solution under the Apache license 2.0. To be eligible for the leaderboard or prizes, teams are also required to submit papers describing their method to the WSDM Cup Workshop. See the ‘Call for Papers’ section below for further details.</li>
            <li>Teams may use external data and pretrained models, provided these are public, and linked with the source code provided for the final submission.</li>
            <li>Teams may use the Spotify API to augment the dataset, provided this use complies with the terms of service for the Spotify API, and that the augmentation is included with the source code provided for the final submission.</li>
            <li>Spotify employees and their in-home relatives are prohibited from participating in the contest.</li>
            <li>Ask us: If you are not sure whether something is allowed or not, do not hesitate to contact us at <a href="#">wsdm-cup-2019@spotify.com</a>! We can quickly give you the information you need.</li>
          </ol>

          <div class="btn-set" aria-hidden="true">
            <a class="btn btn-secondary" href="#" role="button">Next: Leaderboard</a>
            <% if !@challenge_participant or !@challenge_participant.accepted_dataset_toc %>
              <%= link_to "Participate", challenge_participation_terms_path(@challenge), { :class=>"btn btn-primary" } %>
            <% end %>
          </div>

        </div> 
      </div>
      <!-- /md content -->

      <!-- top contributors -->
      <div class="top-contributors-container col-sm-12 col-md-4 col-lg-3">
        <header class="section-header">
          <div>
            <h4>Top contributors</h4>
          </div>
        </header>

        <div class="card">
          <ul class="list-group list-group-flush list-group-top-contributors">

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="assets/img/user-avatar-default.svg">
                <span class="text-link">spMohanty</span>
              </a> 
              <div class="submissions">
                <img src="assets/img/icon-submissions.svg">
                <span>12</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="assets/img/user-avatar-default.svg">
                <span class="text-link">learner6</span>
              </a> 
              <div class="submissions" data-toggle="tooltip" data-placement="top" title="Submissions made">
                <img src="assets/img/icon-submissions.svg">
                <span>9</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="assets/img/user-avatar-default.svg">
                <span class="text-link">TaeJunMoon</span>
              </a> 
              <div class="submissions">
                <img src="assets/img/icon-submissions.svg">
                <span>8</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="assets/img/user-avatar-default.svg">
                <span class="text-link">MaurizioFD</span>
              </a> 
              <div class="submissions">
                <img src="assets/img/icon-submissions.svg">
                <span>6</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="assets/img/user-avatar-default.svg">
                <span class="text-link">brianbrost</span>
              </a> 
              <div class="submissions">
                <img src="assets/img/icon-submissions.svg">
                <span>5</span>
              </div>
            </li>
            <!-- /user -->
            
          </ul>
        </div>  
      </div>
      <!-- /top contributors -->

    </div>
  </div>
</section>
<!-- /section -->

</main>