<%= concept(Challenge::Cell::ChallengeMasthead,@challenge) %>
<%= concept(Challenge::Cell::ChallengeSubnav,@challenge, current_participant: current_participant) %>

<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- sub-nav – vertical -->
      <div class="col-lg-2 sub-nav-vertical-container">
        <ul class="nav flex-column sticky-top-sub-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#introduction">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dataset">Dataset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#partners">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#rules">Rules</a>
          </li>
        </ul>
      </div>
      <!-- /sub-nav – vertical -->

      <!-- md content -->
      <div class="col-md-8 col-lg-7">
        <%= @challenge.description.html_safe %>
      </div>
      <!-- /md content -->

      <!-- top contributors -->
      <div class="top-contributors-container col-sm-12 col-md-4 col-lg-3">
        <header class="section-header">
          <div>
            <h4>Top contributors</h4>
          </div>
        </header>

        <div class="card">
          <ul class="list-group list-group-flush list-group-top-contributors">

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="/assets/img/user-avatar-default.svg">
                <span class="text-link">spMohanty</span>
              </a>
              <div class="submissions">
                <img src="/assets/img/icon-submissions.svg">
                <span>12</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="/assets/img/user-avatar-default.svg">
                <span class="text-link">learner6</span>
              </a>
              <div class="submissions" data-toggle="tooltip" data-placement="top" title="Submissions made">
                <img src="/assets/img/icon-submissions.svg">
                <span>9</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="/assets/img/user-avatar-default.svg">
                <span class="text-link">TaeJunMoon</span>
              </a>
              <div class="submissions">
                <img src="/assets/img/icon-submissions.svg">
                <span>8</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="/assets/img/user-avatar-default.svg">
                <span class="text-link">MaurizioFD</span>
              </a>
              <div class="submissions">
                <img src="/assets/img/icon-submissions.svg">
                <span>6</span>
              </div>
            </li>
            <!-- /user -->

            <!-- user -->
            <li class="list-group-item">
              <a href="#">
                <img class="avatar" src="/assets/img/user-avatar-default.svg">
                <span class="text-link">brianbrost</span>
              </a>
              <div class="submissions">
                <img src="/assets/img/icon-submissions.svg">
                <span>5</span>
              </div>
            </li>
            <!-- /user -->

          </ul>
        </div>
      </div>
      <!-- /top contributors -->

    </div>
  </div>
</section>
<!-- /section -->

</main>