<%= concept(Challenge::Cell::ChallengeMasthead, @challenge, current_participant: current_participant) %>
<%= render partial: 'challenges/show/subnav', locals: {challenge: @challenge} %>

<!-- section -->
<section class="section-p-md">
  <div class="container-fluid">
    <div class="row">

      <!-- sub-nav – vertical -->
      <div class="col-lg-2 sub-nav-vertical-container">
        <ul class="nav flex-column sticky-top-sub-nav" id="table-of-contents">
        </ul>
      </div>
      <!-- /sub-nav – vertical -->

      <!-- md content -->
      <div class="col-md-8 col-lg-7" id="description-wrapper">
        <div class="markdown-wrap">
          <div class="md-content">
            <%= @challenge.description.html_safe %>
          </div>
        </div>
      </div>
      <!-- /md content -->

    </div>
  </div>
</section>
<!-- /section -->
