<!-- Delete this view -->
<main>
  <div class="masthead masthead-open">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h4><%= link_to @challenge.challenge, challenge_path(@challenge), class: 'red-link' %></h4>
          <h1>Edit Commitment Selection</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- section -->
  <div class="section-p-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Commitment Selection -->
          <div class="md-content">
            <%#= sanitize_html(@challenge_rules.terms) %>
          </div>
          <% if current_participant.present? %>
            <%= render partial: 'form', locals: { goal_commitment: @goal_commitment, goals: @goals } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /section -->

</main>
<!-- /main content -->
