<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex align-items-start justify-content-between">
        <div class="mb-5">
          <h1>AIcrowd Showcase</h1>
          <p>Collection of contributed notebooks, helpful resources and <br>inspiring projects made with ❤️ by the community</p>
          <a class="btn btn-primary mt-5 btn-lg" href="<%= new_post_path %>"><span class="fa fa-plus-circle mr-2"></span>Create</a>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/posts/index',  locals: { posts: Post.all } %>
  </div>
</div>
