@import "../../../constants/scss/abstracts/__abstracts-dir.scss";
@import "../../../styles/base/__base-dir.scss";

.container {
  width: 100%;
  width: 256px;
  transition: 0.2s ease;
  border-radius: 8px;
  &:hover {
    transform: translate(0, -5px);
    box-shadow: $shadow;
  }
  .cardFooter {
    width: 100%;
    height: 32px;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;

    .organizerWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .organizerName {
        font-size: 10px;
        line-height: 16px;
        color: $color-text-light;
        font-family: "Inter";
      }

      .organizerLogo {
        padding-right: 8px;
        width: 24px;
      }
    }
  }

  .main {
    width: 256px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-xx-small;
    padding-top: $spacing-xxx-small;
    cursor: pointer;
    font-family: Inter;
    border: 1px solid $color-border-light;
    border-bottom: none;
    position: relative;
    @include media-query("small") {
      max-width: 288px;
      height: 272px;
      align-items: left;
    }

    .cardBadgeWrapper {
      position: absolute;
      top: 16px;
      left: -13px;
    }

    .challengeImage {
      height: 180px;
      width: 180px;
      @include media-query("small") {
        width: 112px;
        height: 112px;
      }
    }

    // @include media-query("x-large") {
    //   width: 278px;

    //   .challengeImage {
    //     width: 220px;
    //   }
    // }

    .titleText {
      width: 208px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      font-weight: $font-weight-medium;
      padding-bottom: 8px;
      // @include media-query("x-large") {
      //   font-size: 18px;
      // }
      @include media-query("small") {
        font-size: 16px;
        font-weight: $font-weight-semibold;
        line-height: 24px;
      }
    }

    .prizeText {
      text-align: center;
      width: 208px;
      font-size: 14px;
      line-height: 24px;
      color: $color-text-light;
      padding-bottom: 8px;
      @include media-query("small") {
        font-size: 14px;
        padding-bottom: 10px;
      }
    }

    .cardBottomWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .participantsWrapper {
      display: flex;
      justify-self: flex-end;
      .circleValue {
        margin-left: -18px;
      }
    }
  }
}
