<!-- masthead -->
<main class="bg-graph">
<div class="masthead masthead-open">
	<div class="container-fluid  bg-graph">

		<div class="d-flex justify-content-between">
			<div>
				<h1><%= @job_posting.title %></h1>
				<p style="margin-top:12px">
					<svg width="12" height="16" xmlns="http://www.w3.org/2000/svg" style="margin-top:-4px"><path d="M5.6 0A5.596 5.596 0 0 0 0 5.6C0 9.8 5.6 16 5.6 16s5.6-6.2 5.6-10.4C11.2 2.504 8.696 0 5.6 0zm0 7.6a2 2 0 1 1 .001-4.001A2 2 0 0 1 5.6 7.6z" fill="#F0524D" fill-rule="nonzero"/></svg>
					<%= @job_posting.location.blank? ? @job_posting.country_name : @job_posting.location + ', ' + @job_posting.country_name %>
					<% if @job_posting.remote.present? %>
						<span> or Remote
					<%end %>
				</p>
			</div>
		</div>

	</div>
</div>
<!-- /masthead -->

<!-- section -->
<div class="section-pt-sm-pb-md">
	<div class="container-fluid">
		<div class="row">

			<!-- md content -->
			<div class="col">
				<div class="md-content">
					<%= @job_posting.description.html_safe %>

					<a class="btn btn-primary" href="<%= @job_posting.job_url %>" role="button">
						Apply now
					</a>
				</div>
			</div>
			<!-- /md content -->

		</div>
	</div>
</div>
</main>
<!-- /main content -->
