<% cache [submission, current_participant] do%>
  <div class="d-flex col-sm-12 col-md-6">
    <% if description_markdown.present? && (current_participant.present? && (policy(challenge).edit? || submission_team?(submission, current_participant))) %>
      <hr/>
      <div class="md-content w-100">
        <%= description_markdown %>
      </div>
    <% end %>
  </div>
<% end %>