<div class='content'>
  <%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote } %>
  <%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>
</div>
<% if @challenge.dynamic_content_url %>
  <script>
  function onDynamicFrameLoad(frame) {
    var metadata = {
      "participantId": 1,
      "scores": [
        1,
        5,
        3,
        5
      ]
    }
    frame.contentWindow.postMessage(metadata, '*');
  };
  </script>
  <div class='responsive-iframe-wrapper'>
    <iframe class='responsive-iframe' src="<%=@challenge.dynamic_content_url%>" sandbox="allow-scripts allow-pointer-lock" onload="onDynamicFrameLoad(this)"></iframe>
  </div>
<% end %>
