<div class='content'>
  <%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
  <%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>
</div>
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
    <% if @challenge.dynamic_content_url.present? %>
      <div class='responsive-iframe-wrapper w-100 col-12'>
        <iframe class='responsive-iframe col-12 border-0' src="<%=@challenge.dynamic_content_url%>" sandbox="allow-scripts allow-pointer-lock"></iframe>
      </div>
    <% else %>
      <div id='dynamic-content'>
        <%#= ERB.new(@challenge.dynamic_content).result(OpenStruct.new({challenge: @challenge, current_participant: current_participant}).instance_eval { binding }).html_safe %>
      </div>
    <% end %>
    </div>
  </div>
</div>
