<div class='content'>
  <%= render partial: 'shared/challenges/masthead', locals: { challenge: @challenge, challenge_rounds: @challenge_rounds, vote: @vote, follow: @follow } %>
  <%= render partial: 'challenges/show/subnav', locals: { challenge: @challenge } %>
</div>
<% if @challenge.dynamic_content_url %>
  <div class='responsive-iframe-wrapper'>
    <iframe class='responsive-iframe' src="<%=@challenge.dynamic_content_url%>" sandbox="allow-scripts allow-pointer-lock"></iframe>
  </div>
<% else %>
  <div class='responsive-iframe-wrapper' id='dynamic-content'>
    <%#= ERB.new(@challenge.dynamic_content).result(OpenStruct.new({challenge: @challenge, current_participant: current_participant}).instance_eval { binding }).html_safe %>
  </div>
<% end %>
