<div>
  <p>Hi <%= @participant.name %>,</p>
  <br/>
  <p><%= invitation_invitee_link(@invitee) %> just declined an invitation to join Team <%= invitation_team_link(@team) %>.</p>
  <br/>
  <p>
    Best regards,
    <br>
    AIcrowd
  </p>
  <%= render partial: 'shared/mailers/email_preferences_link', locals: { email_preferences_url: @email_preferences_url } %>
</div>
