---
http_interactions:
- request:
    method: post
    uri: https://discourse-staging.aicrowd.com/admin/groups.json
    body:
      encoding: UTF-8
      string: group%5Bname%5D=discourse-category-n
    headers:
      Api-Key:
      - REDACTED
      Api-Username:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Username:
      - REDACTED
      X-Discourse-Route:
      - groups/create
    body:
      encoding: UTF-8
      string: '{"errors":["Name has already been taken"]}'
  recorded_at: Thu, 16 Apr 2020 22:00:15 GMT
- request:
    method: post
    uri: https://discourse-staging.aicrowd.com/admin/groups.json
    body:
      encoding: UTF-8
      string: group%5Bname%5D=discourse-cat-098b7a
    headers:
      Api-Key:
      - REDACTED
      Api-Username:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Username:
      - REDACTED
      X-Discourse-Route:
      - groups/create
    body:
      encoding: ASCII-8BIT
      string: '{"basic_group":{"id":52,"automatic":false,"name":"discourse-cat-098b7a","user_count":0,"mentionable_level":0,"messageable_level":0,"visibility_level":0,"automatic_membership_email_domains":null,"automatic_membership_retroactive":false,"primary_group":false,"title":null,"grant_trust_level":null,"incoming_email":null,"has_messages":false,"flair_url":null,"flair_bg_color":null,"flair_color":null,"bio_raw":null,"bio_cooked":null,"bio_excerpt":null,"public_admission":false,"public_exit":false,"allow_membership_requests":false,"full_name":null,"default_notification_level":3,"membership_request_template":null,"members_visibility_level":0,"can_see_members":true,"publish_read_state":false}}'
  recorded_at: Thu, 16 Apr 2020 22:00:16 GMT
recorded_with: VCR 5.0.0
