---
http_interactions:
- request:
    method: post
    uri: https://discourse-staging.aicrowd.com/admin/plugins/explorer/queries/2/run.json?params=%7B%22username%22:%20%22piotrekpasciaktest%22%7D
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - REDACTED
      Api-Username:
      - REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Username:
      - aicrowd-bot
      X-Discourse-Route:
      - query/run
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"errors":[],"duration":1.2,"result_count":11,"params":{"username":"piotrekpasciaktest"},"columns":["category_name","category_slug","topic_title","topic_slug","username","raw","cooked","created_at","updated_at","like_count"],"default_limit":1000,"relations":{},"colrender":{},"rows":[["Lounge","lounge","Welcome
        to the Lounge","welcome-to-the-lounge","piotrekpasciaktest","Lorem ipsum dolor
        sit amet, consectetur adipiscing elit 2.","\u003cp\u003eLorem ipsum dolor
        sit amet, consectetur adipiscing elit 2.\u003c/p\u003e","2020-03-09T15:10:41.616Z","2020-03-09T15:10:41.616Z",0],["ZZZZZ","zzzzz","About
        the ZZZZZ category","about-the-zzzzz-category","piotrekpasciaktest","Fourth
        one, actually.","\u003cp\u003eFourth one, actually.\u003c/p\u003e[...]
