<div>
  <p>Hi <%= @participant.name %>,</p>
  <br/>
  <p>Previously, you had been invited to join <%= invitation_team_link(@team) %>. Unfortunately, your invitation has been canceled at this time.</p>
  <br/>
  <p>
    Best regards,
    <br>
    AIcrowd
  </p>
  <% if @participant.persisted? %>
    <%= render partial: 'shared/mailers/email_preferences_link', locals: { email_preferences_url: @email_preferences_url, notification_reason: @notification_reason } %>
  <% end %>
</div>
