<div class="row" data-cell='ParticipantClefTask::Cell::ListDetail'>
  <ul class="list-datasets">
    <%= concept(TaskDataset::Cell::ListDetail, collection: clef_task.task_dataset_files, current_participant: current_participant) %>
    <br/><br/>
    <% if clef_task.eua_required? %>
      <p>Your signed End User Agreement (EUA) has been approved. You are therefore permitted to access this challenge's dataset.</p>
    <% else %>
      <p>You have been registered for this task. You are therefore permitted to access this challenge's dataset.</p>
    <% end %>
  </ul>
</div>
