<% if cookies && cookies['_cookie_eu_consented'] != 'true' %>
	<!-- cookie consent pop-up -->
	<div class="alert alert-cookie alert-dismissible fade show" role="alert">
		Cookies help us deliver our services. By using our services, you agree to our use of cookies.
		<div class="btn-set" aria-hidden="true">
			<button type="button" class="btn btn-primary btn-sm cookies-set-accept" data-dismiss="alert" aria-label="Close">Accept</button>
			<%= button_to "Learn more", cookies_path, class:"btn btn-secondary btn-sm", method: :get %>
		</div>
	</div>
	<!-- /cookie consent pop-up -->
<% end %>

<!-- app footer -->
<%= react_component("organisms/SiteFooter/index", {SiteFooter: {control: {options: [],}}}) %>
<% cache_if cache_enabled?, [Setting.first] do%>
	<!-- custom footer -->
	<% if Setting.footer_record.present? %>
		<%= footer_text %>
	<% end %>
	<!-- /custom footer -->
<% end %>
<!-- /app footer -->
