<div class="section-p-md pb-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <%= form_for :member, url: organizer_members_path, method: :post, html: { class: "form-rg" } do |f| %>
          <div class="form-group">
            <%= f.label :email, 'Email/Username' %>
            <%= f.text_field :email, placeholder: 'Email/Username', class: 'form-control', 'aria-describedby': 'emailHelp' %>
            <small id="emailHelp" class="form-text text-muted">Must already have an AIcrowd account</small>
          </div>
          <div class="btn-set">
            <%= f.submit 'Invite to team', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
