<!-- section -->
<div class="section-p-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <!-- list group – team members -->
        <ul class="list-group list-group-flush-px-0 list-group-organizers">

          <% @members.each do |member| %>
          <!-- team member -->
          <li class="list-group-item">
            <%= link_to participant_path(member) do%>
              <%= concept(Image::Cell,member,klass: "avatar") %>
              <span class="text-link"><%= member.name %></span>
            <% end %>
            <%= link_to 'Remove', organizer_member_path(@organizer,member), method: :delete, class: "btn btn-secondary btn-sm" %>
          </li>
          <!-- /team member -->
          <% end %>
        </ul>
        <!-- /list group – team members -->
      </div>
    </div> 
  </div>
</div>
<!-- /section -->